Django==1.8.3
gunicorn==19.3.0

# Must be < 2.9 for Django 1.8 timezone compatibility
psycopg2==2.8.6

Pillow==9.2.0
boto==2.38.0
django-imagekit==3.2.6
django-reversion==1.8.7
django-storages-redux==1.2.3
#-e git+https://github.com/sehmaschine/django-filebrowser@febfad950774755ab215c48babc7822eb451ebee#egg=django_filebrowser-master
django-filebrowser==3.6.4
django-concurrency==0.9
beautifulsoup4==4.4.1
lxml==5.4.0
