#staff-toolbar {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    background-color: #FFF7E8;
    font-family: Roboto;
    padding: 3px;
}

body#error {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.error-code {
  margin-top: 20vh;
  text-align: center;
  font-size: 10em;
  line-height: 1em;
  margin-bottom: 0;
}

.error-subhead {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}

.error-message {
  max-width: 550px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: 400;
}

a {
  color: #80CBC4;
}

a:hover {
  text-decoration: underline;
}
