<!--

`capsule-unit` is a labeled image which triggers to a modal "capsule" explanation of a concept. In our prototype example, capsule-references appear in the "what you'll need" block and explain more about text editors and FTP programs. The element is intended to be empty, and all necessary variable data is specified in attributes.

`capsule-unit` is a polymer component made up of two other polymer components, `capsule-ref` and `capsule-card`. It acts as a container for these two sub components and handles the hero-animation transition between the two sub components.
Example:

	<capsule-unit img="path/to/image.png" header="Header for both the reference and the card">
	  Put the conent of your card here in regular text.
	</capsule-unit>


@group Learn Elements
@class capsule-unit
-->

<!-- **********  CAPSULE  ********** -->
<dom-module id="capsule-unit">
	<style>
		::content #capsule-container {
/*			height: 300px;
			width: 300px;
			padding-right: 100px;*/
			margin-right:50px;
			position:relative;
			background-color:#FFF;

			border-radius:4px;
			width:100%;
		}

		::content #capsule-ref {
			position:relative;
			z-index:4;
			cursor:pointer;
		};
		::content #capsule-ref paper-fab {
			color: #80CBC4;
			background-color: #273238;
			right: 20px;
			top: 147px;
			position: absolute;
			z-index: 3;
		};
		::content #capsule-image-container {
			width:100%;
			height:175px;
			overflow:hidden;

			position:relative;
			z-index:1;
		};

		::content #capsule-image {
			background-size: cover;
			background-position: center center;
			width:100%;
			height:100%;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
		};

		::content #capsule-image-overlay {
			background-color:#80CBC4;
			width:100%;
			height:100%;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index:1;
			opacity:0.5;
		};



		::content #capsule-header {
			margin:0;
			padding:20px;
			padding-top:12px;
			color:#5C5C5C;
			font-weight: 400;
 			line-height: 24px;
 			font-size: 24px;
		};

		::content #capsule-content {
			display:none;
			padding:20px;
			padding-top:40px;
			-webkit-transition: opacity 500ms ease-in-out;
			   -moz-transition: opacity 500ms ease-in-out;
			     -o-transition: opacity 500ms ease-in-out;
			        transition: opacity 500ms ease-in-out;


			-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		};

		::content #capsule-content p{
			font-weight:300;
			font-size:20px;
			line-height:26px;
		}

		::content #capsule-content-header {
			color:#338D83;
			line-height: 32px;
 			font-size: 32px;
 			font-weight:700;
 			padding:0;
 			margin:0;
		}

		::content #capsule-content-container {
			position:absolute;
			background-color:#FFF;

			overflow-y:scroll;
			z-index:99;
			top:0;
			left:0;
			width:100%;
			height:100%;
			visibility: hidden;
			overflow:hidden;
			-webkit-transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			   -moz-transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			     -o-transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			        transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);


			-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
			        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		};

		::content #capsule-close-button {
			position:absolute;
			right:0;
		};

		::content #capsule-page-block {
			position:fixed;
			width:100%;
			height:100vh;
			visibility:hidden;

			z-index:90;
			top:0;
			left:0;
		};

		.material-shadow {
		  /*transition:box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);*/
		}

		.material-shadow[elevation="1"] {
		  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14),
		                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
		                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		.material-shadow[elevation="2"] {
		  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.14),
		                  0 1px 10px 0 rgba(0, 0, 0, 0.12),
		                  0 2px 4px -1px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="3"] {
		  box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.14),
		                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
		                  0 3px 5px -1px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="4"] {
		  box-shadow:0 8px 10px 1px rgba(0, 0, 0, 0.14),
		                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
		                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="5"] {
		  box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14),
		                  0  6px 30px 5px rgba(0, 0, 0, 0.12),
		                  0  8px 10px -5px rgba(0, 0, 0, 0.4);
		}
		:host {
			width:100%;
			margin-right:20px;
			max-width:400px;
			min-width:200px;
		}
	</style>
	<template>
		<div id="capsule-container" class="material-shadow" elevation="1">
			<div id="capsule-ref">
				<div id="capsule-image-container">
					<div id="capsule-image-overlay"></div>
					<div id="capsule-image"></div>

				</div>
				<h2 id="capsule-header">{{ header }}</h2>
				<paper-fab icon="content-copy"></paper-fab>
			</div>

			<div id="capsule-content-container" class="material-shadow" elevation="1">
				<paper-icon-button id="capsule-close-button" icon="clear"></paper-icon-button>
				<div id="capsule-content">
					<h2 id="capsule-content-header">{{ header }}</h2>
					<content></content>
				</div>
			</div>
			<div id="capsule-page-block"></div>
		</div>
	</template>
</dom-module>

<script type="text/javascript">
	Polymer({
		is: 'capsule-unit',

		behaviors: [Polymer.IronA11yKeysBehavior],
		keyBindings: {
			'esc': '_handleEscapeKey'
		},
		properties: {
			image: {
				type: String,
				value: ""
			},
			header: {
				type: String,
				value: "See also"
			},
			keyEventTarget: { // IronA11yKeysBehavior
				type: Object,
				value: function() {
					return document.body;
				}
			}

		},

		ready: function() {
			// DOM OBJECTS
			this.capsule_image = this.$['capsule-image'];
			this.capsule_ref = this.$['capsule-ref'];
			this.capsule_header = this.$['capsule-header'];
			this.capsule_content = this.$['capsule-content'];
			this.capsule_content_container = this.$['capsule-content-container'];
			this.capsule_close_btn = this.$['capsule-close-button'];
			this.capsule_page_block = this.$['capsule-page-block'];
			this.default_width = 0;
			this.window_open = false;

		},

		attached: function() {
			var self = this;
			this.capsule_image.style.backgroundImage = "url(" + this.image + ")";

			this.capsule_ref.addEventListener("click", function(e) {
				self._onCapsuleRefClick(e);
			});

			this.capsule_page_block.addEventListener("click", function(e) {
				self._onCapsuleCloseClick(e);
			});

			this.capsule_close_btn.addEventListener("click", function(e) {
				self._onCapsuleCloseClick(e);
			});

			this.capsule_content_container.addEventListener("transitionend",function(e){
				self._hideContentContainer();
			},false);

			this.capsule_content_container.addEventListener("webkitTransitionEnd",function(e){
				self._hideContentContainer();
			},false);

		},

		/* Using IronA11yKeysBehavior, listen for 'esc' key pressed
		 * anywhere on the page (see keyEventTarget property).
		 * escape will close an open capsule.
		 */
		_handleEscapeKey: function(e) {
			console.log("when available, implement close-capsule here");
		},

		_handlePaperButtonClick: function(e) {

		},

		_onCapsuleRefClick: function(e) {
			this.windowOn(e);
		},

		_onCapsuleCloseClick: function(e) {
			this.windowOff(e);
		},



		_clickListener: function(e) {
		},

		_hideContentContainer: function(e) {

			if (this.window_open) {
				var self = this;
				// this.capsule_content_container.removeEventListener("transitionend",function(e){
				// 	self._hideContentContainer();
				// },false);

				// this.capsule_content_container.removeEventListener("webkitTransitionEnd",function(e){
				// 	self._hideContentContainer();
				// },false);

				this.capsule_content_container.style.visibility = "hidden";
				this.capsule_ref.style.zIndex = "4";
				//this.capsule_content_container.style.opacity = "1";
				this.window_open = false;
			} else {
				console.log("window closed")
			}


		},

		windowOn:function(e) {

			this.capsule_content.style.display = "block";
			this.capsule_content.style.opacity = 1;
			this.capsule_content_container.style.visibility = "visible";
			this.capsule_content_container.style.width = window.innerWidth - 100 + "px";
			this.capsule_content_container.style.height = window.innerHeight - 150 + "px";

			var container_top = this.capsule_content_container.getBoundingClientRect();
			this.capsule_content_container.style.left = -container_top.left + 50 + "px";
			this.capsule_content_container.style.top = -container_top.top + 100 + "px";
			this.capsule_content_container.style.opacity = "1";
			this.capsule_content_container.setAttribute("elevation", "5");
			this.capsule_content_container.style.zIndex = "98";

			this.capsule_page_block.style.visibility = "visible";
			// this.container.style.top = -container_top + "px";
			// this.container.setAttribute("elevation", "5");
		},

		windowOff: function(e) {
			this.window_open = true;
			var self = this;

			this.capsule_page_block.style.visibility = "hidden";

			this.capsule_content_container.style.left = "0px";
			this.capsule_content_container.style.top = "0px";
			this.capsule_content_container.style.width = "100%";
			this.capsule_content_container.style.height = "100%";
			this.capsule_content_container.setAttribute("elevation", "1");
			this.capsule_content_container.style.zIndex = "-1";
			this.capsule_content_container.style.opacity = "0.5";

			this.capsule_content.style.opacity = 0;
			//this.capsule_ref.style.zIndex = "99";
		},


	});

</script>
