<!--

`code-block` is a container that shows general lesson information, typically at the beginning or end of a lesson. It is similar to, but distinct from a 'step-block.' It generally can contain any HTML and has no custom properties.

Example:

	<code-block>
	  ... content ...
	</code-block>

@group Learn Elements
@class code-block
-->
<link rel="stylesheet" href="../../styles/tomorrow-night-eighties.css" media="screen" title="Prettify" charset="utf-8">
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/585e3751e341ebc0ba026caa9d6f676ac7444d86/src/lang-css.js" charset="utf-8"></script>
<dom-module id="code-block">

	<style>
	.code-block {
		/*background-color: var(--learn-secondary-color);*/
		/*background-color:#F5F4F4;*/
	}
	pre.prettyprint {
		padding: 2px;
		border: none !important;
		margin:0;
		padding-left: 2.3em;
		white-space: pre-wrap;
		font-size: 16px;
		border-radius: 8px;
		overflow-x: scroll;
	}

	.code-block-wrapper h2 { /* Free floating for any h2 inside */
		color: #E3B052;
	}
	</style>

	<template>
		<div class="code-block paper-font-body2">
			<div class="code-block-wrapper"><pre class="prettyprint"><code><content></content></code></pre></div>
		</div>
	</template>

</dom-module>
<script>
	Polymer({
		is: 'code-block',

		attached: function() {
			if (this.lang) {
				this.$$('code').classList.add('language-' + this.lang);
			}
			this.async(function() {
				prettyPrint()
			})
		},

		properties: {
			lang: {
				type: String,
				value: ""
			}
		}

	});
</script>
