<!--

`code-block` is a container that shows general lesson information, typically at the beginning or end of a lesson. It is similar to, but distinct from a 'step-block.' It generally can contain any HTML and has no custom properties.

Example:

	<code-block>
	  ... content ...
	</code-block>

@group Learn Elements
@class code-block
-->
<link rel="stylesheet" href="../../styles/tomorrow-night-eighties.css" media="screen" title="Prettify" charset="utf-8">
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<dom-module id="code-block">

	<style>
	::content .code-block {
		/*background-color: var(--learn-secondary-color);*/
		/*background-color:#F5F4F4;*/
	}
	::content pre.prettyprint {
		padding: 2px;
		border: none !important;
		margin:0;
		padding-left: 2.3em;
		white-space: pre-line;
	}

	/*::content .code-block-wrapper {
		padding: 10px;

		-webkit-box-shadow: inset 3px 3px 10px -3px rgba(186, 167, 130 ,0.8);
		   -moz-box-shadow: inset 3px 3px 10px -3px rgba(186, 167, 130 ,0.8);
				box-shadow: inset 3px 3px 10px -3px rgba(186, 167, 130 ,0.8);

		border: 1px solid rgba(219, 206, 180 ,0.8);
		border-radius: 4px;

	}*/

	::content .code-block-wrapper h2 { /* Free floating for any h2 inside */
		color: #E3B052;
	}
	</style>

	<template>
		<div class="code-block paper-font-body2">
			<div class="code-block-wrapper">
				<pre class="prettyprint">
					<content></content>
				</pre>
			</div>
		</div>
	</template>

</dom-module>
<script>
	Polymer({
		is: 'code-block',

		attached: function() {
			this.async(function() {
				prettyPrint()
			})
		},

		properties: {

		}

	});
</script>
