<!--

`img-ul` is a container for img-li's

-->
<dom-module id="img-ul">
	<style>
		:host ::content {
			width:100%;
		}
		:host ::content #img-ul-container {
			width:100%;
			margin-top:20px;
			margin-bottom:20px;
			padding-left:20px;
			/*padding-right:20px;*/
			box-sizing: border-box;
		}

	</style>

	<template>
		<div id="img-ul-container">
			<content></content>
		</div>
	</template>

</dom-module>

<script>
	Polymer({
		is: 'img-ul',

		properties: {
			header: String
		}
	});
</script>
