<!--

`info-block` is a container that shows general lesson information, typically at the beginning or end of a lesson. It is similar to, but distinct from a 'step-block.' It generally can contain any HTML and has no custom properties.

Example:

	<info-block>
	  ... content ...
	</info-block>

@group Learn Elements
@class info-block
-->
<dom-module id="info-block">
	<style>

		::content #info-block-wrapper {
			background-color: #F5F4F4;
			padding: 0 10px;
			margin-top:20px;
			border-radius:8px;
			padding-top:30px;
		};

		::content #info-block-content {
			padding: 0 10px;
		}
		::content #info-block-content h2 {
			color: #263238;
			font-weight:500;
			font-style:italic;
			margin-top:0;
			margin-bottom:10px;
		}

		::content #info-block-content p {
			color: #9B9B9B;
			font-size:16px;
			line-height: 22px;
			font-style: italic;
			margin-top:0;

		}
		::content #info-block-content li {
			color: #9B9B9B;
			font-size:16px;
			line-height: 22px;
		};

		#info-block-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			/*margin-bottom:50px;*/

/*			background-image: var(--info-icon-url);
			background-repeat: no-repeat;
			background-position: center;*/
			
			
		}
		::content #info-block-icon-background {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Roboto, sans-serif;
			color: #FAFAFA;
			font-size: 38px;

			border-radius:50%;
			background-color:#E7E6E6;
			width: 112px;
			height: 112px;
			text-align:center;
			color:#FFF;
		};

		::content #info-block-content h2 {
			color:#777;
		};

	</style>
  <template>
  <paper-material elevation="0" class="paper-font-body2">
	<div id="info-block-wrapper" class="layout horizontal">
	  <div id="info-block-icon" class="flex">
			<div id="info-block-icon-background">
				i
			</div>
	  </div>
	  <div id="info-block-content" class="flex-4">
		<content></content>
	  </div>
	</div>
  </paper-material>
  </template>
</dom-module>
<script>
  Polymer({
	is: 'info-block',

	properties: {
	  image: {
		type: String,
		value: "images/learn/info-icon.png"
	  }
	}
  });
</script>
