<!--

`learn-nav` is the consistent navigation bar at the top of every page. The element is intended to be empty and no attributes are needed..

TK:
	* a hamburger menu for the top left.

Example:

		<learn-nav></learn-nav>

@group Learn Elements
@class learn-nav
-->

<dom-module id="learn-nav">
	<style>

		a {
			color: inherit;
			text-decoration: inherit;
		}
		:host ::content {
			/*position: fixed;
			top:0px;
			left:0px;*/
		}
		#navigation {
			background-color: #263238;
			z-index:11;
			color: var(--learn-primary-color);
			font-family: var(--learn-primary-font);
			font-weight: 400;
			font-style: italic;
			font-size: 24px;
			width: 100%;
			text-align: center;
			position: relative;
			position: fixed;

		}

		#navigation-container {
			padding: 10px;
		}
		#navigation-container img.nav-learn-logo {
			max-height: 24px;
			margin-bottom:-3px;
		}
		#kl-link {
			position: absolute;
			right: 40px;
		}
	</style>
	<template>
		<div id="navigation">
			<!-- TK: hamburger menu? -->
			<div id="navigation-container">
				<img class="nav-learn-logo" src="../../images/learn_logo.png"/>
				<a id="learn-nav-home-link" href="{{ home }}">Learn</a>
				<a id="kl-link" href="http://knightlab.northwestern.edu"><img src="{{ logo }}"></a>
			</div>
		</div>

	</template>
</dom-module>
<script type="text/javascript">
	Polymer({
		is: "learn-nav",
		properties: {
			logo: {
				type: String,
				value: '/images/learn/banner-logo-white.png'
			},
			home: {
			  type: String,
			  value: '/'
			}

		}
	})
</script>
