<!--

a `lesson-banner` is the top part of the page. The element is intended to be empty, and all necessary variable data is specified in attributes.

For now, trying to implement it as an extension of <paper-header-panel> https://elements.polymer-project.org/elements/paper-header-panel but that's not deeply founded.

TK:
	* a hamburger menu for the top left.
	* less amateur positioning of the h1#header
	* the teal filter (#80CBC4)

Example:

		<lesson-banner img="path/to/image.png" label="Label for component">
		</lesson-banner>

@group Learn Elements
@class lesson-banner
-->

<dom-module id="lesson-banner">
	<style>
		#container {
			width: 100%;
			height: 200px;
			overflow:hidden;
			position:relative;
		}
		#image {
			position: absolute;
			left: 0;
			top: 0;
		}
		#lesson-banner-container {
			width:100%;
			height:200px;
			overflow:hidden;
			min-width:300px;
			position:relative;
			z-index:1;
			margin-top:48px;
		};

		#lesson-banner-image {
			background-size: cover;
			background-position: center center;
			width:100%;
			height:100%;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			opacity:0.25;
		};

		#lesson-banner-image-overlay {
			background-color:#80CBC4;
			width:100%;
			height:100%;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index:1;
			opacity:0.5;
		};

		#header {
			font-family: Roboto, sans-serif;
			color: #273238;
			font-size: 64px;
			font-weight: normal;
			width: 100%;
			text-align: center;
			position:absolute;
			bottom:0;
			margin:0;
			z-index:2;
		}
	</style>
	<template>
		<div id="lesson-banner-container">
			<div id="lesson-banner-image-overlay"></div>
			<div id="lesson-banner-image"></div>
			<h1 id="header">{{header}}</h1>
		</div>
	</template>
</dom-module>
<script>
	Polymer({
		is: 'lesson-banner',
		properties: {
				image: {
						type: String,
						value: ""
				},
				header: {
						type: String,
						value: "Lesson header"
				}
		},
		ready: function() {
			// DOM OBJECTS
			this.lesson_banner_image = this.$['lesson-banner-image'];
			this.content_container = this.$['lesson-banner-container'];

		},
		attached: function() {
			this.lesson_banner_image.style.backgroundImage = "url(" + this.image + ")";
		},
	});
</script>
