<!--

`lesson-ref` is a unit intended for use inside a `lesson-block` which provides a path to a separate stand-alone lesson. A `lesson-ref` has an `href` attribute pointing to the referenced lesson and an `image`attr

Example:

	<lesson-ref>
	  ... content ...
	</lesson-ref>

@group Learn Elements
@class lesson-ref
-->
<dom-module id="lesson-ref">
	<style>
	#lesson-ref-container {
		position: relative;
		/*right: -30px;*/
		background-color: #fff;
		/*background-color:#E7E6E6;*/
		border-radius: 6px;
		margin-bottom: 20px;
		color:#263238;
		margin-top:20px;
		padding-bottom:5px;
		left: 30px;
		top:0px;
		height:100%;
		cursor:pointer;
		-webkit-transition: all 250ms ease-in-out;
		   -moz-transition: all 250ms ease-in-out;
		     -o-transition: all 250ms ease-in-out;
		        transition: all 250ms ease-in-out;

/*
		-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);*/
	}
	#lesson-ref-container.animate {
/*		-webkit-transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		   -moz-transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		     -o-transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		        transition: all 750ms cubic-bezier(0.770, 0.000, 0.175, 1.000);


		-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);*/
	}

	#image-container {
		position: relative;
		width:100%;
		height:200px;
		overflow:hidden;

		position:relative;
		z-index:1;
	}



	#header-el {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: 10px;
		color: #ffffff;
		font-size:26px;
		font-weight:900;
		text-shadow: 1px 1px 2px #333;
	}

/*	#image-container paper-fab {
		position: absolute;
		right: -30px;
		bottom: -20px;
		background-color: #fff;
		color: #000;
		z-index:3;
	}*/
	#lesson-ref-container paper-fab {
		position: absolute;
		right: -30px;
		top: 172px; /*56*/
		background-color: #fff;
		color: #000;
		z-index:3;
	}
	#lesson-ref-image-overlay {
		background-color:#000;
		width:100%;
		height:100%;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index:1;
		opacity:0.66;
	};
	h2#header-el {
		z-index:3;
	}
	#lesson-ref-image {
		background-size: cover;
		background-position: center center;
		width:100%;
		height:100%;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
	};

	#text-container {
		padding: 10px;
		padding:0px 10px 10px 10px;

		font-size:14px;
		line-height:22px;
		font-family: 'Roboto', 'Noto', sans-serif;
/*		font-size: 18px;
		line-height: 26px;*/
		font-weight: normal;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right:20px;
	};

	#text-container p {
		/*font-size:14px;
		line-height:22px;
		font-family: 'Roboto', 'Noto', sans-serif;
		font-size: 18px;
		line-height: 26px;
		font-weight: normal;
		margin-top: 20px;
		margin-bottom: 20px;*/
	}

	.material-shadow {
		  /*transition:box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);*/
	}

	.material-shadow[elevation="1"] {
	  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14),
	                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
	                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}

	.material-shadow[elevation="2"] {
	  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.14),
	                  0 1px 10px 0 rgba(0, 0, 0, 0.12),
	                  0 2px 4px -1px rgba(0, 0, 0, 0.4);
	}

	.material-shadow[elevation="3"] {
	  box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.14),
	                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
	                  0 3px 5px -1px rgba(0, 0, 0, 0.4);
	}

	.material-shadow[elevation="4"] {
	  box-shadow:0 8px 10px 1px rgba(0, 0, 0, 0.14),
	                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
	                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
	}

	.material-shadow[elevation="5"] {
	  box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14),
	                  0  6px 30px 5px rgba(0, 0, 0, 0.12),
	                  0  8px 10px -5px rgba(0, 0, 0, 0.4);
	}
	</style>
	<template>
		<div id="lesson-ref-container" elevation="1" class="material-shadow">
			<div id="image-container">
				<div id="lesson-ref-image-overlay"></div>
				<div id="lesson-ref-image"></div>
				
				<h2 id="header-el">{{ header }}</h2>
				<paper-fab icon="arrow-forward"></paper-fab>
			</div>
			<paper-fab icon="arrow-forward"></paper-fab>
			<div id="text-container">
				<content></content>
			</div>
		</div>
	</template>

</dom-module>

<script>
	Polymer({
		is: 'lesson-ref',
		listeners: {
			"click": "_clickListener"
		},
		properties: {
			header: {
				type: String,
				value: "Lesson Header"
			},
			image: {
				type: String,
				value: "http://lorempixel.com/1440/291/"
			},
			url: {
				type: String,
				value: ""
			}
		},
		ready: function() {
			var self = this;

			// DOM OBJECTS
			this.container =  this.$['lesson-ref-container'];
			this.text_container = this.$['text-container'];
			this.image_container = this.$['image-container'];
			this.lesson_ref_image = this.$['lesson-ref-image'];
			this.header_el = this.$['header-el'];

			this.container.addEventListener("mouseover", function(e) {
				self._onMouseOver(e);
			});

			this.container.addEventListener("mouseout", function(e) {
				self._onMouseOut(e);
			});

		},

		attached: function() {
			var self = this;
			this.lesson_ref_image.style.backgroundImage = "url(" + this.image + ")";

			setTimeout(function(){
				self.container.style.height = self.container.offsetHeight +"px";
			}, 500);


		},

		_handleEscapeKey: function(e) {
			console.log("when available, implement close-capsule here");
		},

		_handlePaperButtonClick: function(e) {

		},

		_clickListener: function(e) {
			if (this.url) {

				// var container_top = this.container.getBoundingClientRect().top;
				// this.container.style.left = "150%";
				// this.container.style.height = window.innerHeight + "px";

				// this.container.style.top = -container_top + "px";
				// this.container.setAttribute("elevation", "5");
				this.fire("page:add", {url:this.url});
			}
		},

		_onMouseOver: function(e) {
			this.container.getAttributeNode("elevation").value = 5;
			this.container.style.top = "-3px";
			this.container.style.left = "25px";
		},

		_onMouseOut: function(e) {
			this.container.getAttributeNode("elevation").value = 1;
			this.container.style.top = "0px";
			this.container.style.left = "30px";
		},
		pageOn: function() {
			this.container.style.left = "30px";
			this.container.style.height = "100%";
			this.container.style.top = "0px";
		}

	});
</script>
