<!--

`lesson-block` is a container that shows general lesson information, typically at the beginning or end of a lesson. It is similar to, but distinct from a 'step-block.' It generally can contain any HTML and has no custom properties.

Example:

	<lesson-block>
	  ... content ...
	</lesson-block>

@group Learn Elements
@class lesson-block
-->
<dom-module id="lesson-block">
	<style>
		paper-material {
			background-color: var(--learn-secondary-color);
		}

		.lesson-block-wrapper {
			padding: 25px;
			margin-left: 50px;
			margin-right: 50px;
			margin-bottom: 50px;
		}

		:host ::content #lesson-block-content {
			padding: 20px;
			width: 70%;
			max-width: 800px;
			/*margin-left:140px;*/
			/* for large screens */
			/*max-width: 800px;*/
			/*margin: 0 auto;*/
			/*padding-top: 30px;*/
			padding-top: 30px;
			background-color: var(--learn-secondary-color);
			font-family: 'Roboto', 'Noto', sans-serif;
			font-size: 18px;
			line-height: 26px;
			font-weight: normal;
			color:#947B4C;
		}
		:host ::content #lesson-block-content p {
			margin-top: 0;
			margin-bottom: 20px;
		}
		:host ::content #lesson-block-content h2 {
			font-family: 'Roboto', 'Noto', sans-serif;
			color: #E3B052;
			font-size: 28px;
			font-weight: bold;
			margin: 0;
			margin-bottom:20px;
		}

		:host ::content #lesson-block-content h3 {
			font-family: 'Roboto', 'Noto', sans-serif;
			color: #E3B052;
			font-size: 22px;
			font-weight: normal;
			margin: 0;
			margin-bottom:20px;
		}
		:host ::content #lesson-block-spacer {
			width:150px;
		}
		:host ::content #lesson-block-content dt {
			font-weight:700;
			font-size: 16px;
			line-height: 22px;
			float: left;
			width: 160px;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			margin-bottom:10px;

			white-space: nowrap;
		}
		:host ::content #lesson-block-content dt:after {
			content: " ";
		}
		:host ::content #lesson-block-content dd {
			margin-left:0;
			font-size: 16px;
			line-height: 22px;
			margin-left: 180px;
			margin-bottom:10px;
			
		}
		:host ::content #lesson-block-content dd p {
			margin-bottom:10px;
		}

		:host ::content #lesson-block-content .dl-vertical dd {
			margin-left: 0px;
			margin-bottom:20px;
		}
		:host ::content #lesson-block-content .dl-vertical dd p {
			margin-bottom:20px;
		}
		:host ::content #lesson-block-content .dl-vertical dt {
			float: none;
			width: auto;
			overflow:visible;
			clear: noen;
			text-align: left;
			text-overflow: ellipsis;
			white-space: normal;
		}
		:host ::content content-wrapper {
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			/*
			Aligns step number to center of step block
			align-items: center;
			*/
			align-items: flex-start;
			-webkit-align-items: flex-start;
			justify-content: center;
			-webkit-justify-content: center;
			margin-bottom: 50px;
		}

		.material-shadow {
			transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
		}

		.material-shadow[elevation="1"] {
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		.material-shadow[elevation="2"] {
			box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="3"] {
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="4"] {
			box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="5"] {
			box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
		}
	</style>

	<template>
		<content-wrapper>
			<div id="lesson-block-spacer"></div>
			<div id="lesson-block-content" class="material-shadow" elevation="1">
				<template is="dom-if" if="{{header}}"><h2>{{header}}</h2></template>
				<content></content>

			</div>
		</content-wrapper>
	</template>

</dom-module>

<script>
	Polymer({
		is: 'lesson-block',

		properties: {
			header: String
		}
	});
</script>
