<!--

`lesson-block` is a container that shows general lesson information, typically at the beginning or end of a lesson. It is similar to, but distinct from a 'step-block.' It generally can contain any HTML and has no custom properties.

Example:

	<lesson-block>
	  ... content ...
	</lesson-block>

@group Learn Elements
@class lesson-block
-->
<dom-module id="lesson-block">
	<style>
		paper-material {
			background-color: var(--learn-secondary-color);
		}

		.lesson-block-wrapper {
			padding: 25px;
			margin-left: 50px;
			margin-right: 50px;
			margin-bottom: 50px;
		}

		:host ::content .lesson-block-wrapper h2 { /* Free floating for any h2 inside */
			color: #E3B052;
			font-size:28px;
			font-weight:500;
		}

	</style>

	<template>
		<paper-material elevation="1" class="lesson-block paper-font-body2">
			<div class="lesson-block-wrapper">
				<content></content>
			</div>
		</paper-material>
	</template>

</dom-module>

<script>
	Polymer({
		is: 'lesson-block',

		properties: {
		}
	});
</script>
