<!--

`narrative-text` is the explanatory matter at the beginning of a lesson. It is mostly expected to be simple content.

@group Learn Elements
@class narrative-text
-->

<dom-module id="narrative-text">
    <style>
        ::content #narritive-text-copy p{
            font-family: Roboto, sans-serif;
            font-size:20px;
            line-height: 26px;
            font-weight:300;
        };

        ::content #narrative-text-container {
        	margin-top:50px;
        	margin-bottom:50px;
        };
    </style>
	<template>
		<div id="narrative-text-container" class="horizontal layout center-justified">
			<div class="flex"></div>
			<paper-material elevation="0" id="narritive-text-copy" class="paper-font-body2 flex-4">
				<content></content>
			</paper-material>
			<div class="flex"></div>
		</div>
	</template>
</dom-module>
<script>
    Polymer({
        is: 'narrative-text',
        properties: {
        }
    });
</script>
