<!--

`narrative-text` is the explanatory matter at the beginning of a lesson. It is mostly expected to be simple content.

@group Learn Elements
@class narrative-text
-->

<dom-module id="narrative-text">
    <style>
    </style>
    <template>
        <div class="horizontal layout center-justified">
        <div class="flex"></div>
        <paper-material elevation="0" class="paper-font-body2 flex-4">
        <content></content>
        </paper-material>
        <div class="flex"></div>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'narrative-text',
        properties: {
        }
    });
</script>
