<dom-module is="page-manager">
	<template>
	<content></content>
	</template>
</dom-module>

<script type="text/javascript">
	function getPageItem(url, callback) {
		var request = new XMLHttpRequest();
		request.open('GET', url, true);

		request.onload = function() {
			if (request.status >= 200 && request.status < 400) {
				dp = new DOMParser();
				var parsed = dp.parseFromString(request.responseText, request.getResponseHeader('content-type'));
				callback(parsed.querySelector('page-item'));
			} else {
				console.log("Error ["+ request.status +"] retrieving " + url);
				console.log(request);
			}
		};

	    request.onload = function() {
	      if (request.status >= 200 && request.status < 400) {
	        // check on support for DOMParser 
	        // maybe consult https://developer.mozilla.org/en-US/Add-ons/Code_snippets/HTML_to_DOM
	        dp = new DOMParser(); 
	        var parsed = dp.parseFromString(request.responseText, request.getResponseHeader('content-type'));
	        callback(parsed.querySelector('page-item'));
	      } else {
	        console.log("Error ["+ request.status +"] retrieving " + url);
	        console.log(request);
	      }
	    };

		request.onerror = function() {
			console.log("Error ["+ request.status +"] retrieving " + url);
			console.log(request);
		};

		request.send();
		return request;
	}


	Polymer({
		is: "page-manager",
		fetchPage: function(url, caller) {

			var self = this;
			getPageItem(url,function(pageItem) {
				var clone = self.create("page-item");
				var content = clone.$$('content');
				content.innerHTML = pageItem.innerHTML;
				clone.distributeContent();
				self.addPage(clone, caller);
				//self.selectPage(self.page_stack.length - 1);
			})
		},
		/**
		 * Add a polymerized 'page-item' to the pages under management.
		 * @param {[type]} url_or_element [description]
		 * @param {[type]} caller         [description]
		 */
		addPage: function(url_or_element, caller) {
			if (url_or_element.tagName == 'PAGE-ITEM') {
				this.page_stack.push({el:url_or_element, caller:caller});
				console.log("Page stack now " + this.page_stack.length + " deep");
				this.appendChild(url_or_element);
				this.selectPage(this.page_stack.length - 1);
			} else {
				console.error("Invalid arguments to pageManager.addPage. First argument must be a page-item.");
			}

		},

		selectPage:function(index) {
			console.log("selectPage");
			console.log(index);
			console.log(this.page_stack[index]);

			var stack_depth_position = 25 / (this.page_stack.length - 1);
			var stack_depth = 1;
			

			for (i = 0; i < this.page_stack.length; i++) {
				
				if (i === index) {
					this.page_stack[i].el.pageOn(this.page_stack.length === 1);
				} else {
					this.page_stack[i].el.pageOff(stack_depth_position * stack_depth, 10 - stack_depth);
					stack_depth++;
				}
			}
		},

		getPageItem: getPageItem,

		ready: function() {
			console.log('page-manager ready!');

			if (this.childElementCount == 1 && this.children[0].nodeName == 'PAGE-ITEM') {
				var pageItem = this.children[0];
				this.addPage(pageItem, null);
				var self = this;
				this.addEventListener("page:add", function(e){
					var url = e.url || (e.detail && e.detail.url) || null;
					if (url) {
						self.fetchPage(url, e.target);

					}
				});

			} else {
				console.warn("page-manager expects a single child element, a page-item");
			}
		},
		properties: {

		},
		page_stack: []
	})    
</script>