<!--

`step-block` is a container that shows one of several steps in a typical lesson. It generally
can contain any HTML. Each `step-block` should have a `header` attribute. Step blocks also
have step numbers-at this time, the goal is to have the numbers automatically applied. It
might make sense to build them around `ol` (ordered list) tags, but if there are any elements
that interrupt the steps, maintaining numbering continuity could be a hassle. Thinking about
making something count them and apply numbering at page load time.

Example:

	<lesson-block>
	  ... content ...
	</lesson-block>

@group Learn Elements
@class lesson-block
-->
<dom-module id="step-block">
	<style>


		:host ::content #step-content {
			font-family: 'Roboto', 'Noto', sans-serif;
			padding: 20px;
			width: 70%;
			/* for large screens */
			max-width: 800px;
			/*margin: 0 auto;*/
			/*padding-top: 30px;*/
			padding-top: 30px;
			background-color: #FFF;
			color:#242424;
		}

		:host ::content #step-content p {
			font-family: 'Roboto', 'Noto', sans-serif;
			font-size: 18px;
			line-height: 26px;
			font-weight: normal;
			/*margin-top: 20px;*/
			margin-top:0;
			margin-bottom: 20px;
		}
		:host ::content #step-content li {
			font-family: 'Roboto', 'Noto', sans-serif;
			font-size: 18px;
			line-height: 26px;
			font-weight: normal;
		}
		:host ::content h2#step-header {
			font-family: 'Roboto', 'Noto', sans-serif;
			color: #338D83;
			font-size: 28px;
			font-weight: bold;
			margin: 0;
			margin-bottom:20px;
		}
		:host ::content h3 {
			font-family: 'Roboto', 'Noto', sans-serif;
			color: #338D83;
			font-size: 26px;
			font-weight: normal;
			margin: 0;
			margin-top:30px;
			margin-bottom:10px;
		}
		:host ::content #step-content dl {
			margin-top:20px;
			margin-bottom:20px;
			margin-left:20px;
		}
		:host ::content #step-content dt {
			font-weight:700;
			font-size: 18px;
			line-height: 26px;
		}
		:host ::content #step-content dd {
			margin-left:0;
			font-size: 16px;
			line-height: 22px;
			margin-bottom:20px;
		}
		:host ::content #step-content dd p {
			font-size: 16px;
			line-height: 22px;
		}
		:host ::content #step-content li h4 {
			margin:0;
			font-weight:700;
			color:#338D83;
		}
		:host ::content #step-content .dl-horizontal dd {
			margin-left: 180px;
			margin-bottom:10px;
		}
		:host ::content #step-content .dl-horizontal dd p {
			margin-bottom:10px;
		}
		:host ::content #step-content .dl-horizontal dt {
			float: left;
			width: 160px;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		/* Begin ordered list styling */
		/*:host ::content #step-content ol {
			counter-reset: item;
			padding-left: 0;
			margin-left: 6em;
		}

		:host ::content #step-content ol li {
			display: block;
			margin-bottom: 3em;
		}

		:host ::content #step-content ol li p {
			margin-top: 0em;
		}

		:host ::content #step-content ol li:before {
			display: inline-block;
			content: counter(item);
			counter-increment: item;
			width: 5em;
			height: 5em;
			border-radius: 100%;
			text-align: center;
			margin-left: -5em;
			background-color: #455a64;
			position: relative;
			left: -1em;
			line-height: 5em;
			margin-bottom: -2.5em;
			color: #ffffff;
		}*/
		/* End ordered list styling */

		:host ::content #step-content p code {
			background-color: #E0E0E0;
			padding: 4px;
			border-radius: 3px;
			font-size: 85%;
		}

		step-number {
			color: #ffffff;
			background-color: #80CBC4;
			padding: 50px 50px;
			height: 25px;
			width: 25px;
			text-align: center;
			border-radius: 50%;
			font-family: Roboto;
			font-weight: 500;
			margin-right: 20px;
			margin-top: 0;
		}

		content-wrapper {
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			/*
			Aligns step number to center of step block
			align-items: center;
			*/
			align-items: flex-start;
			-webkit-align-items: flex-start;
			justify-content: center;
			-webkit-justify-content: center;
			margin-bottom: 50px;
		}

		.question {
			top: 0px;
			left: 25px;
			position: relative;
			margin-right: -20px;
		}

		.material-shadow {
			transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
		}

		.material-shadow[elevation="1"] {
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		.material-shadow[elevation="2"] {
			box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="3"] {
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="4"] {
			box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
		}

		.material-shadow[elevation="5"] {
			box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
		}

	</style>
	<template>
		<content-wrapper>
			<step-number>{{ stepnum }}</step-number>
			<div id="step-content" class="material-shadow " elevation="1">
				<h2 id="step-header">{{ header }}</h2>
				<content></content>

			</div>
			<!-- Put questions here! -->
		</content-wrapper>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'step-block',

		attached: function() {
			this.async(function() {
				var steps = 0;
				var kids = this.parentNode.children;
				for (var i = 0; i < kids.length; i++) {
					if (kids[i].nodeName == this.nodeName) {
						steps += 1;
						if (kids[i] === this) {
							this.stepnum = steps;
							break;
						}
					}
				};
			})
		},

		properties: {
			/**
			 * The primary label for this step.
			 *
			 * @attribute header
			 * @type String
			 * @default ""
			 */
			header: {
				type: String,
				value: ""
			},

			/**
			 * The position of this step among all steps. Not meant to be set by users,
			 * at the moment it gets set at page load time by analyzing all other steps
			 * with the same parent.
			 *
			 * @attribute header
			 * @type String
			 * @default ""
			 */
			stepnum: {
				type: Number,
				value: 0
			}

		}
	});
</script>
