<!--


-->
<dom-module id="unit-group">
	<style>

		:host ::content #unit-group {
			width:100%;
			margin-top:20px;

			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			-ms-flex: 2;
			-webkit-flex: 2;
			flex: 2;

			-ms-flex-pack: around;
			-webkit-justify-content: space-around;
			justify-content: space-around;

			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;

			/*-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;*/

			-ms-flex-direction: row;
			-webkit-flex-direction: row;
			flex-direction: row;

			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: row;

			-webkit-transition: all 250ms ease-in-out;
		   -moz-transition: all 250ms ease-in-out;
		     -o-transition: all 250ms ease-in-out;
		        transition: all 250ms ease-in-out; 
		}

	</style>
	<template>
		<div id="unit-group"  >
			<content></content>
		</div>

	</template>

</dom-module>
<script>
	Polymer({
		is: 'unit-group',

		properties: {
			image: {
				type: String,
				value: "images/learn/info-icon.png"
			}
		},

		ready: function() {
			// DOM OBJECTS
			this.unit_group = this.$['unit-group'];

		},

		attached: function() {
			this.updateSize();
			

		},
		updateSize: function() {
			var self = this;
			var w = this.unit_group.offsetWidth;
			var min_size = 250;
			var margin = 20;
			var child_width = 0;
			console.log(w);

			if (w > 0) {

				child_width = w / Math.floor(w / (min_size + margin));

				for (i = 0; i < this.unit_group.children.length; i++) { 
					this.unit_group.children[i].style.width = child_width - margin + "px";
				}
			}
		},

	});
</script>
