{% extends "_base.html" %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" media="screen" charset="utf-8">
<style type="text/css">
    body {
        font-family: Roboto
    }
    #forby-students .background-image {
    	background-image: url("{% static 'img/homepage/forby_students.jpg' %}");
    }
</style>
{% endblock %}
{% block content %}

<header class="learn-logo">
  <img src="{% static 'img/homepage/learn_logo.png' %}"/><h1>Learn</h1>
</header>

<section id="splash" class="homepage">
  <h2>Digital Journalism, Bit by Bit.</h2>
  <div class="description">
    <p>The web is a journalist's medium. It influences every part of the journalistic process, from how we find and gather information, to how we craft our stories, to how we track the far reaches of our content. Understanding how it works can only make us better journalists. The best way to know the web is to take charge of it. We're using open web technologies to build stories, apps, tools, and sites. You can too. <strong>If there's one thing we understand, it's that learning is a messy process</strong>. Come roll around in the mud with us.</p>
  </div>

  <div class="lesson-container">
    <lesson-ref header="Project: {{ featured_lesson.title }}" image="{{ featured_lesson.banner_image.url }}" url="{{ featured_lesson.get_absolute_url }}">
      <p>
        In this series, we'll cover everything you need to know to get a basic site up and running: coming up with a design, writing the HTML and CSS to make it happen, and publishing your project for the world to see.
      </p>
    </lesson-ref>
  </div>
  <a href="mailto:support@knightlab.zendesk.com?subject=Learn.KnightLab.com%3A%20Suggest%20a%20lesson" class='learn'>
    <div class="ghost-button" >
      + Suggest a Lesson
    </div>
  </a>
</section>

<section id="forby-students" class="homepage">
  <div class="background-image"></div>
  <div class="student-content-container">
    <h2>
      For students, by students
    </h2>
  </div>

</section>
<!-- 	<section id='students'>
  <h2>
    For students, by students
  </h2>

  <div class="students-container">
    <a href="#" class="student">
      <img src="http://lorempixel.com/80/80/people/">
      <p>@somename</p>
    </a>
    <a href="#" class="student">
      <img src="http://lorempixel.com/81/81/people/">
      <p>@somename</p>
    </a>
    <a href="#" class="student">
      <img src="http://lorempixel.com/82/82/people/">
      <p>@somename</p>
    </a>
    <a href="#" class="student">
      <img src="http://lorempixel.com/83/83/people/">
      <p>@somename</p>
    </a>
    <a href="#" class="student">
      <img src="http://lorempixel.com/84/84/people/">
      <p>@somename</p>
    </a>
    <a href="#" class="student">
      <img src="http://lorempixel.com/85/85/people/">
      <p>@somename</p>
    </a>
    <a href="#" class="student">
      <img src="http://lorempixel.com/86/86/people/">
      <p>@somename</p>
    </a>
  </div>
  <div class="ghost-button">
    Join us
  </div>
</section> -->

<section id='lessons' class="homepage">
  <h2>Lessons</h2>
  <div class="link-refs-container">
    <unit-group>
      {% for lesson in all_lessons %}
      <lesson-ref header="{{ lesson.title }}" image="{{ lesson.banner_image.url }}" url="{{ lesson.get_absolute_url }}">
        <p>
          {{ lesson.reference_blurb }}
        </p>
      </lesson-ref>
      {% endfor %}
    </unit-group>
  </div>
  <a href="mailto:support@knightlab.zendesk.com?subject=Learn.KnightLab.com%3A%20What%20else%20would%20you%20like%20to%20learn%3F">
    <div class="ghost-button">
      What else would you like to learn?
    </div>
  </a>
</section>

<section id='about' class="homepage">
  <div class="about-copy">
    <h2 class='about-subhead'>About</h2>
    <p class='about-graph'>
      <em>Learn</em> is a collection of modular, project-based tutorials, created by students for students.
    </p>
    <p class='about-graph'>
       This site is a reflection of our own experience learning: there is no one right answer, no complete problem set, and no end-all-be-all guide for every project you want to build. Our goal is to create a resource for students and a commuinty of openness and inclusion, where we wrestle with projects. We want to build a better web, be better journalists, and help students learn to identify and solve worthwhile problems. We hope you'll join us.
    </p>
    <p class='about-graph'>
       Looking for the original <code>learn.knightlab.com</code>? We've preserved it at <a href="/legacy/">learn.knightlab.com/legacy</a>
    </p>
  </div>
</section>

<footer class="homepage">
  <div id="about-knightlab">
    <div id="knightlab-logo-column">
      <a href="./Knight Lab _ Northwestern University_files/Knight Lab _ Northwestern University.html" target="_blank"><img src="{% static 'img/homepage/logo_stacked.png' %}" class="img-responsive"></a>

      <ul class="social list-inline">
        <li><a href="http://www.twitter.com/knightlab" target="_blank" title="Knight Lab on Twitter"><span class="icon-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/knightlab" target="_blank" title="Knight Lab on Facebook"><span class="icon-facebook"></span></a></li>
        <li><a href="https://github.com/NUKnightLab/" target="_blank" title="Knight Lab on GitHub"><span class="icon-github"></span></a></li>
      </ul>
    </div>
    <div id="knightlab-description">
      <p>The <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a> Knight Lab is a team of technologists and journalists working at advancing news media innovation through exploration and experimentation.</p>
      <p>A joint initiative of the <a href="http://www.mccormick.northwestern.edu/" target="_blank">Robert R. McCormick School of Engineering and Applied Science</a> and the<a href="http://www.medill.northwestern.edu/" target="_blank"> Medill School of Journalism, Media, Integrated Marketing Communications</a>.</p><img src="{% static 'img/homepage/Logos-Horizontal.png' %}" class="img-responsive logos">
    </div>
    <div class="copyright">

      <address itemscope="" itemtype="http://data-vocabulary.org/Organization">
        <span style="display:none;" itemprop="name" title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name">Knight Lab</span>
        <span itemprop="tel" class="tel">(847) 467-4971 | </span>
        <span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="address">
          <span itemprop="street-address" class="street-address">
            <a href="https://maps.google.com/maps?q=1845+Sheridan+Road+Evanston+IL+60208&amp;hl=en&amp;ll=42.050942,-87.673511&amp;spn=0.003059,0.004898&amp;sll=42.050647,-87.674246&amp;sspn=0.012237,0.019591&amp;gl=us&amp;hnear=1845+Sheridan+Rd,+Evanston,+Cook,+Illinois+60201&amp;t=m&amp;z=18&amp;iwloc=A" target="_blank">
              1845 Sheridan Road Fisk #109 &amp; #111
            </a>
          </span>
          <a href="https://maps.google.com/maps?q=1845+Sheridan+Road+Evanston+IL+60208&amp;hl=en&amp;ll=42.050942,-87.673511&amp;spn=0.003059,0.004898&amp;sll=42.050647,-87.674246&amp;sspn=0.012237,0.019591&amp;gl=us&amp;hnear=1845+Sheridan+Rd,+Evanston,+Cook,+Illinois+60201&amp;t=m&amp;z=18&amp;iwloc=A" target="_blank">
            ,
            <span itemprop="locality">Evanston,</span>
            <span itemprop="region">IL</span>
            <span itemprop="postal-code">60208 |</span>
            <span itemprop="country-name" class="address-country">United States</span>
          </a>
        </span>
        <a href="https://maps.google.com/maps?q=1845+Sheridan+Road+Evanston+IL+60208&amp;hl=en&amp;ll=42.050942,-87.673511&amp;spn=0.003059,0.004898&amp;sll=42.050647,-87.674246&amp;sspn=0.012237,0.019591&amp;gl=us&amp;hnear=1845+Sheridan+Rd,+Evanston,+Cook,+Illinois+60201&amp;t=m&amp;z=18&amp;iwloc=A" target="_blank">
          <span style="display:none;" itemprop="geo" itemscope="" itemtype="http://www.data-vocabulary.org/Geo/" class="geo">
            Latitude: <span itemprop="latitude">42.056893</span>
            <br> Longitude: <span itemprop="longitude">-87.676735</span>
          </span>
        </a>
        <a style="display:none;" href="http://knightlab.northwestern.edu" itemprop="url" class="url">
          Northwestern University Knight Lab | Advancing media innovation through exploration and experimentation.
        </a>
      </address>
      <span class="copyright">| Copyright 2015, Northwestern University</span>



    </div>
  </div>
</footer>

{% endblock %}
