{% extends "_base.html" %}
{% block extrahead %}
<style type="text/css">
    body {
        font-family: Roboto
    }
</style>
{% endblock %}
{% block content %}
<h1>Learn.Knightlab.com</h1>
<ul>
{% for lesson in object_list %}
{% if user.is_staff or lesson.status == 'published' %}
<li><a href="{{lesson.get_absolute_url}}">{{ lesson.title }}</a> ({{ lesson.status }})</li>
{% endif %}
{% empty %}
<li><a href="/admin/">No lessons yet</a></li>
{% endfor %}
</ul>
{% if not user or user.is_staff == False %}
<p>
  Hi! We're not quite ready for visitors. If you have an account, log in.
</p>
{% endif %}
{% endblock %}
