{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href='{% static "css/codemirror.css" %}'>
<link rel="stylesheet" href='{% static "js/codemirror/addon/dialog/dialog.css" %}'>

<link rel="stylesheet" href="https://codemirror.net/addon/dialog/dialog.css" media="screen" title="no title" charset="utf-8">
<script src='{% static "js/codemirror/codemirror-compressed.js" %}'></script>
<script src='{% static "js/codemirror/addon/search/search.js" %}'></script>
<script src='{% static "js/codemirror/addon/search/searchcursor.js" %}'></script>
<script src='{% static "js/codemirror/addon/dialog/dialog.js" %}'></script>

<script src='{% static "js/tidy.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
<div id="lesson-content-editor" class="lesson-widget lw-row">
    <div>
        <textarea name="{{name}}" id="messageBody" rows="20" cols="40">{{content|default:""}}</textarea>
    </div>
    <div class="lw-controls lw-column">
        <input type="button" id="btn-narrative-text" value="&lt;narrative-text&gt;" class="code"/>
        <input type="button" id="btn-lesson-block" value="&lt;lesson-block&gt;" class="code"/>
        <input type="button" id="btn-step-block" value="&lt;step-block&gt;" class="code"/>
        <input type="button" id="btn-info-block" value="&lt;info-block&gt;" class="code"/>
        <input type="button" id="btn-capsule-unit" value="&lt;capsule-unit&gt;" class="code"/>
        <input type="button" id="btn-zooming-image" value="&lt;zooming-image&gt;" class="code"/>
        <input type="button" id="btn-code-block" value="&lt;code-block&gt;" class="code"/>
        <input type="button" id="btn-glossary-term" value="&lt;glossary-term&gt;" class="code"/>
        <input type="button" id="btn-lesson-ref" value="&lt;lesson-ref&gt;" class="code"/>
    </div>
    <div id="search-lessons">
      <h1>Select a lesson</h1>
      <h4>Unpublished lessons are in italics</h4>
      <select data-placeholder="Choose a lesson" class="chosen-select">
        <option value=""></option>
      </select>
    </div>
    <div class="lw-controls lw-column">
      <button type="button" id="btn-font-larger"><i class="fa fa-font"></i><i class="fa fa-arrow-up"></i></button>
      <button type="button" id="btn-font-smaller"><i class="fa fa-font"></i><i class="fa fa-arrow-down"></i></button>
      <input type="button" id="btn-format" value="format" />
      <!-- <input type="button" id="btn-fullscreen" value="full screen" /> -->
    </div>
</div>
