<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/codemirror.css">
<link rel="stylesheet" href="https://codemirror.net/addon/display/fullscreen.css" media="screen" title="no title" charset="utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/codemirror.js">
</script>
<script src="https://codemirror.net/mode/xml/xml.js"></script>
<script src="https://codemirror.net/addon/display/fullscreen.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
<div class="lesson-widget lw-column">
    <div class="lw-controls lw-row">
        <input type="button" id="btn-fullscreen" value="full screen" />
        <input type="button" id="btn-narrative-text" value="&lt;narrative-text&gt;" class="code"/>
        <input type="button" id="btn-lesson-block" value="&lt;lesson-block&gt;" class="code"/>
        <input type="button" id="btn-step-block" value="&lt;step-block&gt;" class="code"/>
        <input type="button" id="btn-info-block" value="&lt;info-block&gt;" class="code"/>
        <input type="button" id="btn-capsule-unit" value="&lt;capsule-unit&gt;" class="code"/>
        <input type="button" id="btn-zooming-image" value="&lt;zooming-image&gt;" class="code"/>
        <input type="button" id="btn-code-block" value="&lt;code-block&gt;" class="code"/>
    </div>
    <div>
        <textarea name="{{name}}" id="messageBody" rows="20" cols="100">{{content}}</textarea>
    </div>
</div>
