{% if ssl is defined %}
server {
  listen 80;
  server_name {{ domains }};
  return 301 https://$server_name$request_uri;
}
{% endif %}

server {
  {% if ssl is defined %}
  listen 443 ssl;
  {% else %}
  listen 80;
  {% endif %}

  server_name {{ domains }};

  {% if ssl is defined %}
  ssl_certificate {{ ssl.ssl_certificate }};
  ssl_certificate_key {{ ssl.ssl_certificate_key }};
  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  {% endif %}

  access_log  /var/log/nginx/{{ project_name }}.log;

  client_max_body_size 5M;

  root /usr/share/nginx/{{ project_name }};

  location /imagelib/ {
    alias /home/apps/learn-media/;
  }

  location /legacy/ {
    root /home/apps/sites/learncms/;
  }

  location / {
    try_files $uri @proxy_to_{{ project_name }};
  }

  location @proxy_to_{{ project_name }} {
      proxy_pass http://127.0.0.1:{{ port }};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
