<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Write Some CSS -- Learn.knightlab.com</title>

	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
	</script>
	<link rel="import" href="elements/elements.html">
	<link rel="stylesheet" href="styles/main.css">
	<style type="text/css">
		/* Eventually this will migrate to an external CSS file */

		narrative-text {
			/* Does narrative-text need to be a polymer/web component?
				Or if it is just a matter of CSS, can we get away with a custom element name
				and corresponding CSS selectors?
				**/
			font-family: "Roboto Light", sans-serif;
		}
	</style>

	<link rel="stylesheet" href="styles/error.css">
</head>

<body class="fullbleed">
    <h1 class='error-code'>500</h1>
    <h2 class='error-subhead'>It's not you, it's us.</h2>
    <h3 class='error-message'>We don't know what exactly went wrong, but we know it's on us.</h3>
    <h3 class='error-message'>We'll get right on it. In the meantime, you can hit the back button or  <a href="home-iteration.html">get a fresh start.</a></h3>
</body>
