<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Write Some CSS -- Learn.knightlab.com</title>

	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
	</script>
	<link rel="import" href="elements/elements.html">
	<link rel="stylesheet" href="styles/main.css">
	<style type="text/css">
		/* Eventually this will migrate to an external CSS file */

		narrative-text {
			/* Does narrative-text need to be a polymer/web component?
				Or if it is just a matter of CSS, can we get away with a custom element name
				and corresponding CSS selectors?
				**/
			font-family: "Roboto Light", sans-serif;
		}
	</style>
</head>

<body class="fullbleed">
	<!-- Don't really know the details of these Material/Polymer classes -->

	<lesson-banner image="images/learn/basic-website-banner.png" title="Write Some CSS"></lesson-banner>

	<div>

		<narrative-text>
			<p>
				So you’ve built a webpage. Or at least, you think it’s a webpage. It looks very different from what you’re used to seeing on the Internet--there are no fun, bright colors, no sleek interfaces, no gifs of adorable mammals. Hey, those tutorial people said they’d tell you how to build a website, but what you have looks like something from the early stages of the ARPANET. Those liars!</p>

				<p>We didn’t lie to you (at least, not yet). We just haven’t gotten to the pretty stuff yet – CSS. HTML was fine for writing out what stuff is in your website, but now we need another way to describe how that stuff should look.
			</p>
		</narrative-text>

		<lesson-block>
			<h2>
				You'll need to get started
			</h2>
			<div style="display:flex">
				<capsule-unit ref="text-editor"></capsule-unit>
				<capsule-unit ref='modern-web-browser'></capsule-unit>
			</div>
		</lesson-block>

		<div style="clear: both"></div>

		<step-block title="Extreme Web Makeover">
			<p>
				The syntax for CSS is a lot simpler than the syntax for HTML. Are you ready for it? Here it is:
			</p>
			<code-block>
element {
  property: value;
  property: value;
}
			</code-block>
				<p>A property is an attribute of an element. Common properties include background-color, height, width, and others. A property’s value affects certain parts of the element, usually in how it is displayed. Values can be a range of different things, like a number, word or color.</p>

				<p>That’s it, seriously. Okay, that’s not <i>it</i> it, but you can do quite a bit just by modifying the properties of specific elements. </p>

			</p>
		</step-block>


		<step-block title="Change it up">
			<p>
				Let’s change the background color of our page. To do that, type the following into your CSS file:</p>
				<code-block>
body {
  background-color: beige;
}
				</code-block>
			<info-block image="images/learn/info-icon.png">
				<h2>RGB and HSB and Hex, Oh my!</h2>
				<p>There are a lot of ways to pick color values. The way we have here is to just use a color that the browser already knows, like red or beige. For a more precise method of picking colors, look into RGB, HSB, and hex values.</p>

				<!--dictionary call to rgb, hsb and hex here-->

			</info-block>
		</step-block>


		<step-block title="It's a start">
			<p>There! Our website’s looking better already. By playing with elements’ property and value pairs, we can modify just about anything, from size to color to position.</p>

			<info-block>
			<h2>Blast from the past</h2>
				<p>But there’s still a problem. As of right now, we don’t have any way of grouping certain elements together in our HTML. Let’s say we wanted to have all of our introductory information have the same background-color. We could try styling each piece at once, like this:</p>
			<code-block>
h1 {
  background-color: firebrick;
}

img {
  background-color: firebrick;
}

p {
  background-color: firebrick;
}
			</code-block>

			<p>But that doesn’t really give us what we want (and even if it was what we wanted, there would be an easier way to do that). Instead of combining the individual elements, we just have three separately colored blocks. If only there was some way to go in our HTML and put the elements into one larger, over-arching element. Oh, wait there is.</p>
		</info-block>
			<p>Remember how in the HTML lesson we had you wrap all your introductory information in a <code>&lt;div&gt;</code>? Yeah, those were good times. And now we get to actually put that <code>&lt;div&gt;</code> to use.</p>

			<p>Now we can target the containing element in our CSS by modifying the <code>&lt;div&gt;</code> like so:</p>

			<code-block>
div {
  background-color: firebrick;
}
			</code-block>
		</step-block>

		<step-block title='Real classy: Getting real specific'>
			<p>
				So far in our CSS we've been targeting all the instances of an element, and we still don't have a way to target specific elements. What if we wanted to change the font of the items within the social media list? We need some way of labeling the elements we want to change and then apply rules to those specific elements.
			</p>
			<p>
				Back in your HTML document, dd a class to your header and paragraph and call it white-text, like this:
			</p>
			<code-block>
&lt;h1 class='white-text'&gt;
  // your text
&lt;h1&gt;

&lt;p class='white-text'&gt;
  // your text
&lt;p&gt;
			</code-block>
			<p>
				Add an ID to your ordered list and call it ‘gray-text.’
			</p>
			<code-block>
&lt;ol id='gray-text'&gt;
  // list items
&lt;ol&gt;
			</code-block>

		</step-block>

		<step-block title='Target sighted'>
			<p>
				Let’s target our classes and IDs. To modify an element based on its class, you need to add a period before the class name in the CSS file.
			</p>
			<code-block>
.white-text {
  color: white;
}
			</code-block>
			<p>
				To target an ID, simply use a pound sign instead of a period.
			</p>
				<code-block>
#gray-text {
  color: gray;
}
				</code-block>

		<info-block image="images/learn/info-icon.png">
			<h2>Be descriptive</h2>
			<p>Classes and IDs not only make it easier to style your code, but are also a good opportunity to help with organization and readability as well because it allows people (including you!) to understand the purpose of each HTML element at a glance. Give your classes and IDs descriptive names so you can come back to them more easily when you need to modify them again.</p>
		</info-block>
		</step-block>

		<step-block title="Positions, everyone!">
			<p>
				Play around with the display and positioning of your site's elements. The Box Model is a handy tool in visualizing where things go.
			</p>
<lesson-ref ref="box-model"></lesson-ref>
	</step-block>

		<step-block title="Pass the bar">
			<p>
				Okay, what we’ve done so far is nice and dandy, but your website still doesn’t look like a website. Let’s change that. You know what a navbar is, right? That thing at the top or side of a website that gives you quick links to key pages on a website. Let’s make one of those. You know, like a real website.</p>

				<p>Navbars might seem complicated, but they’re really just styled lists. Let’s turn our unordered list of social media links into our navbar. </p>

				<p>First, let’s make this easier on our future selves by applying a descriptive ID to our unordered list. Let’s call it ‘navbar.’</p>
				<code-block>
&lt;ul id='navbar'&gt;
  // list items
&lt;/ul&gt;
				</code-block>

				<p>Now let’s get rid of those ugly little bullets. In your CSS document, target the <code>&lt;li&gt;</code>s nested in your navbar ID and change the list-style-type to none.</p>

				<code-block>
#navbar li{
  list-style-type: none;
}
				</code-block>

				<p>Next, we want our links to all be in a row instead of stacked on top of each other. To change that, we’ll affect the display property.</p>

				<code-block>
#navbar li{
  list-style-type: none
  display: inline-block;
}
				</code-block>

				<p>The links seem a little too close to each other, so let’s adjust the width of their <code>&lt;a&gt;</code> elements. We’re adjusting the <code>&lt;a&gt;</code> tags rather than the <code>&lt;li&gt;</code> because we want the user to be able to click on the link from anywhere inside the box that holds the link. We need the links to have a display value of block in order for the width to apply to them, however.</p>

				<code-block>
#navbar li a{
  display: block;
  width: 120px;
}
				</code-block>

				<p>Great! Now let’s center the text for the links inside their boxes and provide some vertical padding.</p>

				<code-block>
#navbar li a{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
				</code-block>

				<p>Something’s still a bit off: the placement of our navbar right now just doesn’t make sense. Navbars are supposed to be at the top of the page, but right now our <code>&lt;ul&gt;</code> is buried. In your HTML file, move the <code>&lt;ul&gt;</code> tag and its contents to the top of the body, above the <code>&lt;div&gt;</code>.</p>

				<p>Now when we refresh the page the position of the navbar makes sense, although it still doesn’t look quite right visually. That’s because of the top margin. The navbar has some top margin by default, which is keeping it from going to the top of the page. To fix that, change the display of the navbar to be inline-block and get rid of the top margin.</p>

				<code-block>
#navbar {
  display: inline-block;
  margin-top: 0;
}
				</code-block>

				<p>We want our navbar to stretch across the whole screen, so we need to set its width to 100%. We also want it to be distinct from the rest of the page, so we need to change its background color as well. I’ll be changing mine to darkslategray, but you can pick whatever value you want (try playing around with RGB or even hex values if you’re feeling adventurous).</p>

				<code-block>
#navbar {
  width: 100%;
  background-color: darkslategray;
}
				</code-block>

				<p>At this point you might also want to change the color of the links inside your navbar if the default blue is hard to see against your background. Experiment with different font-family, color, and other values and find a combination you like. That’s the fun with styling: you can make it anything you want. Like literally almost anything.</p>

				<p>Our navbar is almost complete! But there’s just one more thing that would really seal the deal: user feedback. It would be cool if we could change something on the screen so that whenever a user hovered over a link they could be sure of what they were doing.</p>

				<p>Guess what? You can do that with CSS. We’ve already covered a few selectors, but there are so many more useful selectors that can be applied in a variety of ways. One class of selectors is referred to as a “pseudo-class” uses a colon (:) to select an element which has a certain property. For example, if we wanted to change the color of links that had already been visited, we would target a:visited in our CSS. For our navbar, we can respond to users by changing the background color of the links they’re hovering over. We’ll use the a:hover selector for that.</p>

				<code-block>
#navbar li a:hover{
  background-color: black;
}
				</code-block>

				<p>Try it out! There are more useful selectors just like :hover and :visited, and being familiar with them can make your life a whole lot easier and make your website that much more versatile.</p>

		<info-block>
			<h2>Useful selectors</h2>
				<ol>
					<li>
						<code>.element {</code>
						<br>
						<p>
							The period allows you to select classes, which is very useful for styling multiple elements at once
						</p>
					</li>
					<li>
						<code>#element {</code>
						<br>
						<p>
							Like the class selector, a pound sign allows you to select an element based on its unique ID
						</p>
					</li>
					<li>
						<code>element:hover {</code>
						<br>
						<p>
							The hover pseudo-class will apply rules to an element once it sees a mouse hovering over it, and is extremely useful in a wide range of applications
						</p>
					</li>
					<li>
						<code>element[attr='val'] {</code>
						<br>
						<p>
							This selector will only select instances of the element which have val as the value for a given attribute. For example, if you wanted to target all links on your page that went to twitter.com, you’d simply type a[href=’twitter.com’]
						</p>
					</li>
					<li>
						<code>* {</code>
						<br>
						<p>The asterisk character by itself will select all elements on the page, which can be useful if you want to apply some common rules like zeroing margins and paddings. The asterisk can also be used to select all children of an element like so: div * {...}, but this isn’t very commonly used</p>
					</li>
					<li>
						<code>element-a element-b {</code>
						<br>
						<p>Putting a space between two elements will select all instances of element-b on the page that are descendants of an element-a</p>
					</li>
					<li>
						<code>element-a, element-b {</code>
						<br>
						<p>
							Adding a comma to separate elements rather than a space applied the same rules to both elements. It’s basically just shorthand for <code>element-a { … } element-b { … }</code>
						</p>
					</li>
					<li>
						<code>element-a > element-b {</code>
						<br>
						<p>Putting a greater-than sign between two elements is similar to leaving a space in between, but now will only target instances of element-b that are children, or direct descendants, of element-a</p>
					</li>
					<li>
						<code>element-a ~ element-b {</code>
						<br>
						<p>This selector will target all instances of element-b that are siblings (that is, they share the same parent) of an element-a</p>
					</li>
					<li>
						<code>element-a + element-b {</code>
						<br>
						<p>The plus selector is similar to the tilde in that it also selects siblings, but now will only select instances of element-b that appear immediately after element-a</p>
					</li>
					<li>
						<code>element:before { , element:after {</code>
						<br>
						<p>The :before and :after pseudo selectors can be used to modify the space immediately before or after your element, and have been used in a wide variety of applications, most notably the <a href="http://stackoverflow.com/questions/8554043/what-is-clearfix">clearfix hack</a></p>
					</li>
				</ol>
		</info-block>

		</step-block>
		<step-block title="Style Guided">
			<p>Phew, that was a lot of CSS. Hopefully we’ve demystified the process for you. Creating websites isn’t magic--it’s just combining different CSS properties with the structure of your HTML in a specific way. Once you get the hang of it, you’ll be surprised the things you can do with pure CSS, like make an entire functioning <a href="http://codepen.io/ziga-miklic/pen/Fagmh">tic-tac-toe game</a>.</p>

			<info-block>
				<h2>Code Summary</h2>
				<code-block>
body {
  background-color: beige;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div {
  background-color: firebrick;
}

.white-text {
  color: white;
}

#gray-text {
  color: gray;
}

#navbar {
  margin-top: 0;
  background-color: darkslategray;
  display: inline-block;
  width: 100%;
}

#navbar li {
  list-style-type: none;
  display: inline-block;
}

#navbar li a {
  display: block;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: sans-serif;
}

#navbar li a:hover {
  background-color: black;
}
			</code-block>
			</info-block>
		</step-block>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/hack.js"></script>
</body>

</html>
