<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Developing web components for Learn.knightlab.com</title>
		<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
		</script>
        <link rel="import" href="elements/elements.html">
	</head>

	<body class="fullbleed">
		<learn-nav></learn-nav>
			<narrative-text>
				<p>
					The new <a href="http://learn.knightlab.com">Learn.KnightLab.com</a> website makes extensive use of <a href="http://webcomponents.org/">web components</a>, an emerging standard for managing presentation and behavior on websites. Specifically, we use Google's <a href="https://www.polymer-project.org/1.0/">Polymer</a> project, which provides a "polyfill" to help older browsers catch up to the standard, and which also provides some web components we use, although we've also developed many of our own.
				</p>
				<p>
                    When working on components, make sure that your changes work correctly on all of the lessons referenced in this page, for consistency's sake.
				</p>
			</narrative-text>

			<lesson-block>
                <h2>Prototype lessons</h2>
                <ul>
                    <li><a href="lesson.html">Create a Basic Website</a></li>
                    <li><a href="html-lesson.html">Basic HTML</a></li>
                    <li><a href="css-lesson.html">Write some CSS</a></li>
                    <li><a href="webhosting-lesson.html">Web Hosting</a></li>
                </ul>
            </lesson-block>

            <step-block header="Primary Components">
                <h2></h2>
                <p>
                    These are the components you're likely to actually use when writing a lesson.
                    <dl>
                        <dt><code>&lt;narrative-text&gt;</code></dt>
				        <dd>Belongs once at the top of any lesson. Sets the stage. No attributes. Use any basic HTML markup inside.</dd>
                        <dt><code>&lt;step-block&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;lesson-block&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;info-block&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;zooming-image&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;capsule-unit&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;lesson-ref&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;link-ref&gt;</code></dt>
				        <dd></dd>
                        <dt><code>&lt;code-block&gt;</code></dt>
				        <dd></dd>
                    </dl>

                </p>
            </step-block>
            <step-block header="Other components and support">
                <dt><code>styles.html</code></dt>
                <dd></dd>
                <dt><code>behaviors.html</code></dt>
                <dd></dd>
                <dt><code>&lt;lesson-banner&gt;</code></dt>
                <dd></dd>
                <dt><code>&lt;learn-nav&gt;</code></dt>
                <dd></dd>
                <dt><code>&lt;page-manager&gt;</code></dt>
                <dd></dd>
                <dt><code>&lt;page-item&gt;</code></dt>
                <dd></dd>
                <dt><code>&lt;unit-group&gt;</code></dt>
                <dd></dd>
                <dt><code>&lt;glossary-term&gt;</code></dt>
                <dd></dd>
                <dt><code>&lt;glossary-manager&gt;</code></dt>
                <dd></dd>

            </step-block>

	</body>

</html>
