<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Page Manager Test -- Learn.knightlab.com</title>

        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
        </script>
        <link rel="import" href="elements/elements.html">
    </head>

    <body class="fullbleed">
    <page-manager>
        <page-item>
        <div style="width: 200px; height: 200px; background-color: #00ff00"></div>
        </page-item>
    </page-manager>
    </body>
</html>