<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Web Hosting -- Learn.knightlab.com</title>

	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
	</script>
	<link rel="import" href="elements/elements.html">
</head>

<body class="fullbleed">
	<!-- Don't really know the details of these Material/Polymer classes -->

	<lesson-banner image="images/learn/basic-website-banner.png" title="Web Hosting"></lesson-banner>

	<div>

		<narrative-text>
			<p>
				So you've written some code, and after opening those files in your browser you are able to confirm that, yes, indeed, those files do make a website. You're super excited to show all your friends and family and even that really really annpying classmate just to rub it into his or her face that, yeah, you totally built a website, but it's not a big deal or anything. But how can you make it so that other people can actually see your website? As of right now, those files are just living on your computer and it's not very practical to send all your website files to every person who wants to see it.
			</p>
			<p>
				No, what you need is a server, a special computer dedicated to holding on to your files and making sure that people can access them with a few keystrokes. It can seem intimidating at first, but don't worry. We'll be with you every step of the way.
			</p>
		</narrative-text>

		<lesson-block>
			<h2>
				You'll need to get started
			</h2>
			<div style="display:flex">
				<capsule-unit image="images/learn/ftp-program.png" label="FTP Program" style="padding-right: 25px"></capsule-unit>
			</div>
		</lesson-block>

		<div style="clear: both"></div>

		<step-block title="Purchase a domain name">
			<p>Search for a domain name to see if the name you want is available. If it is, you can purchase ownership on a monthly basis.</p>

			<p>These are the five most popular services that offer domain names:</p>
				<ol>
					<li>NameCheap
					<li>Hover
					<li>Google Domains
					<li>1&1
					<li>GoDaddy
				</ol>
		</step-block>

		<step-block title="Additional services">
			<info-block>
			<p>These sites offer a lot of additional services that you don’t necessarily need. Don’t be tricked into buying anything you don’t need just because they sound fancy--domain registrars are businesses after all, and they’re looking to make money off of you. Here’s a list of common features that registrars often try to bundle with your domain. You can decide for yourself whether it sounds like you need it.</p>

				<ul>
					<li>Hosting
						<p>
							For a simple website, like a portfolio site or personal webpage, using the domain registrar’s hosting may be the simplest option. As you go on to develop bigger, more complex projects (especially those that require server-side scripts), you’ll probably want to look toward other hosting options.
						</p>
					</li>
					<li>Local listing
						<p>
							Listing a site locally makes it easier to find a website by putting it on search engines such as Yelp, GoogleMaps and FourSquare. If your website is for a business, local listing might be a good idea to attract new customers. It’s probably not your priority for a portfolio or personal site, but that’s up to you.
						</p>
					</li>
					<li>Private Email
						<p>
							Most domain registrars will offer a service called email forwarding for free, which allows you to forward all emails sent to a specified address on your website to a pre-existing email account. This simplifies things for you because it keeps everything centralized, you can continue to use whatever email provider you want, and you don’t have to pay a penny (or you shouldn’t, at least. If your domain registrar tries to make you pay for email forwarding, you’ll probably want to look elsewhere).
						</p>
					</li>
					<li>Sub-domains
						<p>
							This is a feature that would work well with a larger, more complex website or a business. Sub-domains come before your main domain name, such as shop.mydomain.com. These label different areas of your website, like an online store or blog. Many domain registrars allow you to register subdomains for free, but keep in mind that you’ll have to point or forward those domains to different websites as well.
						</p>
					</li>
					<li>Positive SSL
						<p>
							SSL, or Secure Sockets Layer, is the difference between http and https in front of a website’s URL and is a way of encrypting websites so that everything sent between a client and the server your website is hosted on can’t be intercepted. If you’re collecting sensitive information on your website, like credit card information, you should invest in SSL.
						</p>
					<li>Website forwarding
						<p>
							When you search for www.newyorktimes.com, your browser sends you to the actual domain and website, www.nytimes.com. This is website forwarding. This is so that commonly mistaken URLs automatically go to the correct one rather than giving the user a wrong or nonexistent page. As your brand expands, website forwarding might be a good option for you, especially if you are known by different names (such as an acronym), although keep in mind that you’ll have to purchase those additional domains as well.
						</p>
					</li>
					<li>WhoisGuard
						<p>
							When you register a domain, you have to provide certain details about yourself, like your name and email address. This information is public and can easily be accessed by spammers through sites like who.is. WhoisGuard is a company that masks your personal information with their information, protecting you from spam.
						</p>
					</li>
				</ul>

			</info-block>

		</step-block>


		<step-block title="Purchase hosting server">
			<p>
				A server hosts your website so that it is available and accessible on the Internet. These companies allow you, the client, to lease out space to publish your site onto the web on a monthly basis. Servers work by uploading your files using a File Transfer Protocol (FTP) as they are so that all your code, images, and other files are readily accessible to each other. Make sure that your files appear on your server the same way that they do on your desktop, or else your site may not work properly.</p>

			<info-block>
				<p>Depending on the size of your website, you may have to sort through which hosting server is the best option for you. Most free hosting servers have limited services and advertisements and cannot host complex or large sites.</p>
			</info-block>

			<p>There are also free solutions to web hosting: one such popular option is GitHub Pages, which is perfect for hosting a one-page static website like a personal website or a landing page. While you won’t have access to a server and therefore won’t be able to run any sort of server-side processes, it should be enough for a simple website. You can even set up your domain to point to your GitHub Page and mask the DNS to show your domain name. </p>
		</step-block>

		<step-block title='Connect your hosting server to your domain'>
			<p>
				Once you’ve registered your domain name and purchased a hosting server, you will need to link the two in order for the URL to direct to the correct website. Most registrars lay out a clear process in connecting the domain name with the host, but in general you’ll just be pointing your domain name as the address to the IP address of the server where your files will be hosted.
 			</p>
		</step-block>

		<step-block title='Download an FTP Client'>
			<p>
				Some servers have FTP programs installed in them while others don’t. For those, you can use an external FTP program to transfer your files and simplify the process of deploying your website. We recommend getting either FileZilla or CyberDuck, both of which are free.
			</p>
		</step-block>

		<step-block title='Connect to your host server'>
			<p>
				In these steps, we’ll be assuming here that you’ll be logging into your server using SFTP, but if that’s not the case, you should look up a guide for whatever protocol you have on your server.
			</p>

			<p>
				In FileZilla, open the Site Manager by going to File > Site Manager. This should bring up a window with a bunch of fields for you to fill out. The only things you need to make sure you have are the host (which is the IP address of the server you’re connecting to), the protocol, the logon type (which should be normal), and the user and password fields to your account. After filling out those fields, move over to the “Advanced” tab and in the Default remote directory field enter “/var/www/html.” This will just make it easier for you to get to the directory where you’ll be uploading your files. From here, you should be able to log in.
			</p>

			<p>
				In Cyberduck, when you launch the application for the first time you should see a set of pre-loaded bookmarks. You can go ahead and delete those--you’ll be adding your own bookmarks soon. Right-click on the screen and create a new bookmark, and you’ll be prompted to enter the information necessary to connect with the server. Fill out everything at the top of the screen, making sure not to check “Anonymous Login,” and then click “More Options.” In the “Path” field, enter “/var/www/html.” This will just make it easier for you to get to the directory where you’ll be uploading your files. Once you’ve done that, close out of that window and double-click on the bookmark you just made. Enter your password to connect to your server, and you should be in!
			</p>
		</step-block>

		<step-block title='Transfer files to your host server'>
			<p>
				In FileZilla, once logged in, you should have six windows: one on top, four in a two-by-two layout in the middle, and one on the bottom. The top window is where you’ll get status reports on your connections to the server. The middle left windows are your local directory--they’re the files sitting on your computer. Then your middle right windows will have the directory for your server. The bottom window has useful information about any files you have waiting to be uploaded and their status. To upload your files, simply locate them on your computer in the left middle bottom pane and then drag them over to the right middle bottom pane. Make sure that you upload your HTML file as well as any important other files (CSS, images, etc.) into this folder exactly as it appears on your computer.
			</p>
			<p>
				In Cyberduck, once you’ve connected to your host server it should direct you to a new screen. Make sure that you’re in the /var/www/html directory, and from here you can just drag and drop your files from your computer into Cyberduck. Voila! That’s it!
			</p>
		</step-block>

		<step-block title='Check out your site'>
			<p>
				Now that your website is live, check it out! Make sure to click on all of the links to make sure that they are directing to the right places and that all the images are showing. If you have to fix anything, be sure to re-upload the edited file onto your hosting server.
			</p>
		</step-block>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/hack.js"></script>
</body>

</html>
