<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
	<title>Create a Basic Website - Learn.KnightLab.com</title>
	<link rel="icon" type="image/png" href="//cdn.knightlab.com/libs/purpleline/latest/img/favicon.ico">
	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
	</script>
	<link rel="import" href="elements/elements.html">
	<link rel="stylesheet" href="//media.knightlab.com/learncms/css/app.css" media="screen" title="no title" charset="utf-8">
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:title" content="Create a Basic Website" />
	<meta name="twitter:title" content="Create a Basic Website">
	<meta property="og:url" content="https://learncms.knightlab.com/lesson/create-basic-website/" />
	<meta property="og:image" content="https://learncms.knightlab.com/imagelib/uploads/banners/webpage.png" />
	<!-- twitter:image: at least 280px in width, and at least 150px in height -->
	<meta name="twitter:image" content="https://learncms.knightlab.com/imagelib/uploads/banners/webpage.png">
	<meta name="twitter:site" content="@KnightLab">
	<meta name="og:description" content="Learn the basics of web development, from idea to polished product: how to wrap your content in HTML, to style it with CSS, and publish it online.">
	<meta name="twitter:description" content="Learn the basics of web development, from idea to polished product: how to wrap your content in HTML, to style it with CSS, and publish it online.">
</head>

<body class="fullbleed">
	<!-- Google Tag Manager -->
	<!-- Copy the code below and paste it onto every page of your website.
	 Place it immediately after the opening <body> tag.     -->
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MF8NL6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<script>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
			'//www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-MF8NL6');
	</script>
	<!-- End Google Tag Manager -->
	<learn-nav home="/" logo="https://media.knightlab.com/learncms/img/banner-logo-white.png"></learn-nav>
	<page-manager>
		<page-item header="Create a Basic Website">
			<lesson-banner image="https://learncms.knightlab.com/imagelib/uploads/banners/webpage.png" header="Create a Basic Website"></lesson-banner>
			<div>
				<narrative-text>
					<p>This collection pulls together the info you'll need to get a basic website up and running: getting your machine ready, designing a kickass site, easing into a logical workflow, and all the thrills and spills of learning the best of the basic web--HTML and CSS.</p>
				</narrative-text>
				<lesson-block>
					<h2>Before we begin, you should download:</h2>
					<unit-group>
						<capsule-unit ref="text-editor" image="https://learncms.knightlab.com/imagelib/uploads/capsules/text-editor.png" header="Text Editor">
							<p>
								A text editor is a program that allows users to create and edit plain text files. Plain text files don&#8217;t have stylistic formatting; you won&#8217;t find code written in Comic Sans or Wingdings, which is one of the ways text editors are different from programs like Microsoft Word. Examples of free text editors include TextEdit and Notepad++. We recommend using <a href="http://www.sublimetext.com/">SublimeText</a>.
							</p>
							<unit-group>
								<link-ref image="images/learn/text-editor.png" header="Sublime Text" link="http://www.sublimetext.com/"></link-ref>
								<link-ref image="images/learn/notepad.gif" header="Notepad++" link="https://notepad-plus-plus.org/"></link-ref>
								<link-ref image="images/learn/atom.png" header="Atom" link="https://atom.io/"></link-ref>
								<link-ref image="images/learn/textmate.png" header="TextMate" link="https://macromates.com/"></link-ref>
								<link-ref image="images/learn/text-editor.png" header="Sublime Text" link="http://www.sublimetext.com/"></link-ref>
								<link-ref image="images/learn/notepad.gif" header="Notepad++" link="https://notepad-plus-plus.org/"></link-ref>
							</unit-group>
						</capsule-unit>
						<capsule-unit ref="ftp-program" image="https://learncms.knightlab.com/imagelib/uploads/capsules/ftp-program.png" header="FTP Program">
							<p>An FTP program transfers computer files from one host to another via the Internet, such as CyberDuck, and FileZilla.</p>
						</capsule-unit>
						<capsule-unit ref="ftp-program" image="https://learncms.knightlab.com/imagelib/uploads/capsules/ftp-program.png" header="FTP Program">
							<p>An FTP program transfers computer files from one host to another via the Internet, such as CyberDuck, and FileZilla.</p>
						</capsule-unit>
						<capsule-unit ref="ftp-program" image="https://learncms.knightlab.com/imagelib/uploads/capsules/ftp-program.png" header="FTP Program">
							<p>An FTP program transfers computer files from one host to another via the Internet, such as CyberDuck, and FileZilla.</p>
						</capsule-unit>
					</unit-group>
				</lesson-block>
				<step-block header="Getting organized: Boring but essential logistics">
					<p>Setting up a work environment might seem like a hassle, but trust us--it will save you headaches down the road. Websites are essentially just a collection of files, so being organized will help prevent errors later on.</p>
					<h3>What we do</h3>
					<p>We're setting up a dedicated spot on your machine for all the files you'll create: your technical docs, as well as images, videos, or other assets you're going to display.</p>
					<h3>Why we do</h3>
					<p>Putting those files in organized folders enables us to give the browser exact directions to the locations of those files. So, no search or spotlight allowed&#8212;know where your files are so you can send the browser down the right path. Broken paths, missing files, or imprecise directions are common reasons things break. Ever seen a 404 message? That&#8217;s why!</p>
					<h3>How we do</h3>

					<img-ul>
						<img-li header="Create a folder" src="images/learn/pc-screenshot.png" full-src="images/learn/pc-screenshot.png">
							Create a new folder somewhere easy, like your desktop.
						</img-li>
						<img-li header="Create a folder" src="images/learn/pc-screenshot.png" full-src="images/learn/pc-screenshot.png">
							Give it a name with no spaces or caps.
						</img-li>
						<img-li src="images/learn/pc-screenshot.png" full-src="images/learn/pc-screenshot.png">
							Open up your text editor (probably Sublime if you're following along) and go to file &gt; new.
						</img-li>
						<img-li header="Create a folder" src="images/learn/pc-screenshot.png" full-src="images/learn/pc-screenshot.png">
							Then save it in your new folder as <code>index.html</code>. You <em>must</em> include the file extension! This is our first signal to the browser about what we'll be doing in here. Adding more text to make sure long strands of text don't break style. Adding more text to make sure long strands of text don't break style. Adding more text to make sure long strands of text don't break style. Adding more text to make sure long strands of text don't break style.
						</img-li>
						<img-li header="Create a folder" src="images/learn/pc-screenshot.png" full-src="images/learn/pc-screenshot.png">
							Head into your browser of choice (Chrome, cough cough), go to file &gt; open, and select the file we just made.
						</img-li>
						<img-li header="Create a folder" src="images/learn/pc-screenshot.png" full-src="images/learn/pc-screenshot.png">
							Take a look at your beautiful website? ...jk there's nothing there. That's good. Proceed!
						</img-li>
					</img-ul>
					<code-block>
&lt;head&gt; 
	&lt;link rel='stylesheet' href='styles.css'&gt; 
&lt;/head&gt;
					</code-block>
					<ul>
						<li>Create a new folder somewhere easy, like your desktop.</li>
						<li>Give it a name with no spaces or caps.</li>
						<li>Open up your text editor (probably Sublime if you're following along) and go to file &gt; new.</li>
						<li>Then save it in your new folder as <code>index.html</code>. You <em>must</em> include the file extension! This is our first signal to the browser about what we'll be doing in here.</li>
						<li>Head into your browser of choice (Chrome, cough cough), go to file &gt; open, and select the file we just made.</li>
						<li>Take a look at your beautiful website? ...jk there's nothing there. That's good. Proceed!</li>
					</ul>
					<media-group class="layout horizontal around-justified">
						<zooming-image ref="mac-file-system" src="http://s3.amazonaws.com/media.knightlab.com/CACHE/images/zimages/mac-screenshot-big/23f05870ac1ee31c17bcc749f30bc78c.jpg?Signature=4E7cFVVgm8cmkl%2FWcalBCHaoapE%3D&amp;Expires=1442342598&amp;AWSAccessKeyId=AKIAIXRBBVMKDYZSK6EA" full-src="http://s3.amazonaws.com/media.knightlab.com/zimages/mac-screenshot-big.png?Signature=P4mHhPPvPb3Vo3Lq9aOGOwWJ5LU%3D&amp;Expires=1442342598&amp;AWSAccessKeyId=AKIAIXRBBVMKDYZSK6EA"></zooming-image>
						<zooming-image ref="pc-file-system" src="http://s3.amazonaws.com/media.knightlab.com/CACHE/images/zimages/pc-screenshot-big/6cf0222fbed2cf01d413e55907d54ebb.jpg?Signature=hfXgQVP9Al8mJhMuZrhAaLmb2tM%3D&amp;Expires=1442342598&amp;AWSAccessKeyId=AKIAIXRBBVMKDYZSK6EA" full-src="http://s3.amazonaws.com/media.knightlab.com/zimages/pc-screenshot-big.png?Signature=Qk9mIDUg2fWE77vaRnLGsggrKt8%3D&amp;Expires=1442342598&amp;AWSAccessKeyId=AKIAIXRBBVMKDYZSK6EA"></zooming-image>
					</media-group>
					<info-block header="Gotcha!" emoji="&#x1F450;" flip="true">
						<p>If you're ever going to move your files around, make sure to close out of your text editor while you do. Poor Sublime will keep editing the old doc, and will keep saving it in the old place. Once again: close Sublime, move files, reopen to edit in Sublime.</p>
					</info-block>
				</step-block>
				<lesson-block header="Break it down: The nitty gritty">
	 <p>That wasn't you blindly cutting and pasting, was it? Please say no. Let&#39;s go over each
  one:</p>
   
	<dl>
	  <dt><code>&lt;!DOCTYPE html&gt;</code></dt>
	  <dd>
		<p>Tells the browser that this is an HTML5 document.</p>
	  </dd>
	  
	  <dt><code>&lt;html lang="en"&gt; ... &lt;/html&gt;</code></dt>
	  <dd>
		<p>Announces to the browser that anything in between
	  them is HTML, and that the webpage is in English.</p>
	  </dd>
	  
	  <dt><code>&lt;head&gt;</code></dt>
	  <dd>
		<p>Head elements go in between these tags, including the title
	  of the webpage and links to stylesheets or scripts.</p>
	  </dd>
	  
	  <dt><code>&lt;meta charset=&quot;utf-8&quot;&gt;</code></dt>
	  <dd>
		<p>a meta tag contains metadata about the HTML document</p>
	  </dd>
	  
	  <dt><code>&lt;body&gt;</code></dt>
	  <dd>
		<p>contains the content of the document, including things
	  like your text and images</p>
	  </dd>

   </dl>

</lesson-block>
				<step-block header="Write some HTML">
					<p>Ah, HTML. You've heard so much, and yet, know so little. Let us help.
						<glossary-term>HTML</glossary-term> is the backbone of the web, and the beginning of any website. It's our way of telling the browser what's what--this is a paragraph, this is a list, this is an image of Steve Buscemi. Dive into this standalone lesson on HTML to see how it works and to put together your first page.</p>
					<lesson-ref image="https://learncms.knightlab.com/imagelib/uploads/banners/learn-illustration-01.png" header="Write Some HTML" url="html-lesson.html">Ready to start coding? Great! We'll start with HTML. It's the most widely used coding language on the Internet, so you'll need a strong grasp on it before you go any further.</lesson-ref>
					<info-block header="Did you know..." emoji="&#x1F43C;">
						<p>Beginners often think they're stumbling with CSS and JavaScript, but the culprit is actually HTML. Make sure you spend some time really understanding the
							<glossary-term>DOM</glossary-term> and bulletproofing your HTML before diving too deep elsewhere. (Or at least return to it when you hit problems.)</p>
					</info-block>
					<h3>The Top 20 Tags (at least according to us)</h3>
					<ol>
						<li>
							<h4><code>&lt;div&gt;</code></h4>
							
							<p>used for structure, typically as a generic container for similar elements</p>
						</li>
						<li>
							<h4><code>&lt;a&gt;</code></h4>
							
							<p>used to add a link</p>
						</li>
						<li>
							<h4><code>&lt;h1&gt;</code></h4> to <h4><code>&lt;h6&gt;</code></h4>
							
							<p>headers used to denote display type</p>
						</li>
						<li>
							<h4><code>&lt;p&gt;</code></h4>
							
							<p>used to contain paragraphs of text</p>
						</li>
						<li>
							<h4><code>&lt;img&gt;</code></h4>
							
							<p>used to contain paragraphs of text</p>
						</li>
						<li>
							<h4><code>&lt;ul&gt;</code></h4> and <h4><code>&lt;li&gt;</code></h4>
							
							<p>used to create and populate an unordered list, most commonly used for navigation bars</p>
						</li>
						<li>
							<h4><code>&lt;form&gt;</code></h4>
							
							<p>used to create a submittable form</p>
						</li>
						<li>
							<h4><code>&lt;input&gt;</code></h4>
							
							<p>used to create an element on the page through which the user can insert input; comes in a variety of types</p>
						</li>
						<li>
							<h4><code>&lt;button&gt;</code></h4>
							
							<p>used to create a button on the page</p>
						</li>
						<li>
							<h4><code>&lt;span&gt;</code></h4>
							
							<p>used to create a button on the page</p>
						</li>
						<li>
							<h4><code>&lt;article&gt;</code></h4>
							
							<p>used to contain an article</p>
						</li>
						<li>
							<h4><code>&lt;figure&gt;</code></h4>
							
							<p>used to contain an article</p>
						</li>
						<li>
							<h4><code>&lt;blockquote&gt;</code></h4>
							
							<p>used to contain a quote from a source</p>
						</li>
						<li>
							<h4><code>&lt;cite&gt;</code></h4>
							
							<p>used to cite a blockquote</p>
						</li>
						<li>
							<h4><code>&lt;code&gt;</code></h4>
							
							<p>used to denote a code snippet appearing on the screen
							</p>
						</li>
						<li>
							<h4><code>&lt;section&gt;</code></h4>
							
							<p>used to denote a section of the page, such as a chapter
							</p>
						</li>
						<li>
							<h4><code>&lt;title&gt;</code></h4>
							
							<p>used to give the webpage a title, which typically appears at the top of the tab or window</p>
						</li>
						<li>
							<h4><code>&lt;script&gt;</code></h4>
							
							<p>used to link client-side scripts to the document</p>
						</li>
						<li>
							<h4><code>&lt;link&gt;</code></h4>
							
							<p>used mostly to link stylesheets to the document</p>
						</li>
						<li>
							<h4><code>&lt;!--...--&gt;</code></h4>
							
							<p>used to comment out sections of HTML</p>
						</li>
					</ol>

					<h3>The Top 20 Tags (at least according to us)</h3>
					<dl>
						<dt><code>&lt;div&gt;</code></dt>
						<dd>
							<p>used for structure, typically as a generic container for similar elements</p>
						</dd>

						<dt><code>&lt;a&gt;</code></dt>
						<dd><p>used to add a link</p></dd>

						<dt><code>&lt;h1&gt;</code></dt> to <dt><code>&lt;h6&gt;</code></dt>
						<dd><p>headers used to denote display type</p></dd>

						<dt><code>&lt;p&gt;</code></dt>
						<dd><p>used to contain paragraphs of text</p></dd>

						<dt><code>&lt;img&gt;</code></dt>
						<dd><p>used to contain paragraphs of text</p></dd>
					
					
						<dt><code>&lt;ul&gt;</code> and <code>&lt;li&gt;</code></dt>
						<dd><p>used to create and populate an unordered list, most commonly used for navigation bars</p></dd>
					
					
						<dt><code>&lt;form&gt;</code></dt>
						<dd><p>used to create a submittable form</p></dd>
					
					
						<dt><code>&lt;input&gt;</code></dt>
						<dd><p>used to create an element on the page through which the user can insert input; comes in a variety of types</p></dd>
					
					
						<dt><code>&lt;button&gt;</code></dt>
						<dd><p>used to create a button on the page</p></dd>
					
					
						<dt><code>&lt;span&gt;</code></dt>
						<dd><p>used to create a button on the page</p></dd>
					
					
						<dt><code>&lt;article&gt;</code></dt>
						<dd><p>used to contain an article</p></dd>
					
					
						<dt><code>&lt;figure&gt;</code></dt>
						<dd><p>used to contain an article</p></dd>
					
					
						<dt><code>&lt;blockquote&gt;</code></dt>
						<dd><p>used to contain a quote from a source</p></dd>
					
					
						<dt><code>&lt;cite&gt;</code></dt>
						<dd><p>used to cite a blockquote</p></dd>
					
					
						<dt><code>&lt;code&gt;</code></dt>
						<dd><p>used to denote a code snippet appearing on the screen
						</p></dd>
					
					
						<dt><code>&lt;section&gt;</code></dt>
						<dd><p>used to denote a section of the page, such as a chapter
						</p></dd>
					
					
						<dt><code>&lt;title&gt;</code></dt>
						<dd><p>used to give the webpage a title, which typically appears at the top of the tab or window</p></dd>
					
					
						<dt><code>&lt;script&gt;</code></dt>
						<dd><p>used to link client-side scripts to the document</p></dd>
					
					
						<dt><code>&lt;link&gt;</code></dt>
						<dd><p>used mostly to link stylesheets to the document</p></dd>
					
					
						<dt><code>&lt;!--...--&gt;</code></dt>
						<dd><p>used to comment out sections of HTML</p></dd>


					</dl>
				</step-block>

				<lesson-block header="The Top 20 Tags (at least according to us)">
					<dl>
						<dt><code>&lt;div&gt;</code></dt>
						<dd>
							<p>used for structure, typically as a generic container for similar elements</p>
						</dd>

						<dt><code>&lt;a&gt;</code></dt>
						<dd><p>used to add a link</p></dd>

						<dt><code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code></dt>
						<dd><p>headers used to denote display type</p></dd>

						<dt><code>&lt;p&gt;</code></dt>
						<dd><p>used to contain paragraphs of text</p></dd>

						<dt><code>&lt;img&gt;</code></dt>
						<dd><p>used to contain paragraphs of text</p></dd>
					
					
						<dt><code>&lt;ul&gt;</code> and <code>&lt;li&gt;</code></dt>
						<dd><p>used to create and populate an unordered list, most commonly used for navigation bars</p></dd>
					
					
						<dt><code>&lt;form&gt;</code></dt>
						<dd><p>used to create a submittable form</p></dd>
					
					
						<dt><code>&lt;input&gt;</code></dt>
						<dd><p>used to create an element on the page through which the user can insert input; comes in a variety of types</p></dd>
					
					
						<dt><code>&lt;button&gt;</code></dt>
						<dd><p>used to create a button on the page</p></dd>
					
					
						<dt><code>&lt;span&gt;</code></dt>
						<dd><p>used to create a button on the page</p></dd>
					
					
						<dt><code>&lt;article&gt;</code></dt>
						<dd><p>used to contain an article</p></dd>
					
					
						<dt><code>&lt;figure&gt;</code></dt>
						<dd><p>used to contain an article</p></dd>
					
					
						<dt><code>&lt;blockquote&gt;</code></dt>
						<dd><p>used to contain a quote from a source</p></dd>
					
					
						<dt><code>&lt;cite&gt;</code></dt>
						<dd><p>used to cite a blockquote</p></dd>
					
					
						<dt><code>&lt;code&gt;</code></dt>
						<dd><p>used to denote a code snippet appearing on the screen
						</p></dd>
					
					
						<dt><code>&lt;section&gt;</code></dt>
						<dd><p>used to denote a section of the page, such as a chapter
						</p></dd>
					
					
						<dt><code>&lt;title&gt;</code></dt>
						<dd><p>used to give the webpage a title, which typically appears at the top of the tab or window</p></dd>
					
					
						<dt><code>&lt;script&gt;</code></dt>
						<dd><p>used to link client-side scripts to the document</p></dd>
					
					
						<dt><code>&lt;link&gt;</code></dt>
						<dd><p>used mostly to link stylesheets to the document</p></dd>
					
					
						<dt><code>&lt;!--...--&gt;</code></dt>
						<dd><p>used to comment out sections of HTML</p></dd>


					</dl>

					
				</lesson-block>

				<lesson-block>
					<h2>Workflow: Words of advice from grisled fellows</h2>
					<h3>Here&#8217;s the sad truth: When things go south, it&#8217;s always your
  fault.</h3>
					<p>At least when it comes to building websites. We can&#8217;t vouch for that thing with your ex. More than likely, the page is not
						<em>just acting crazy</em>. It&#8217;s acting crazy because you <em>told</em> it to act crazy. So here&#8217;s a strategy to help you cut down on the amount of time you spend troubleshooting.</p>
					<p><strong>Change, save, refresh, check.</strong></p>
					<p>If you make a lot of changes and then notice things are broken, it&#8217;s tough to tell what exactly broke, and when. So
						<strong>work in very small bursts</strong>. Check the results frequently. Then, when something breaks, you know where things went wrong--it&#8217;s what you just did.</p>
					<ul>
						<li><strong>Change</strong> something in your HTML and/or CSS documents.
						</li>
						<li><strong>Save</strong> every file you touched.</li>
						<li><strong>Refresh</strong> in your browser.</li>
						<li><strong>Check</strong> to make sure you&#8217;re seeing what you want to.</li>
					</ul>
				</lesson-block>
				<step-block header="Prepare for CSS">
					<p>Just like we did with HTML, we've got to get our files hooked up and running before we can start to style our pages in earnest. That's right--we're about to finally take the semantically beautiful but ultimately ugly HTML we've written and apply some style to it. First, though, the prep:</p>
					<h3>What we do</h3>
					<p>We're creating a
						<glossary-term>stylesheet</glossary-term> for our webiste and linking it to our HTML file. </p>
					<h3>Why we do</h3>
					<p>CSS is a critical piece of any site--it's the bootiful part. Without this link, our browser would never know that these styles are associated with this site (aka this HTML file). Once we're done, when the browser reads our HTML file, it will see this link, fetch our styles, and apply them to the site. Good browser. Here's a treat.</p>
					<h3>How we do</h3>
					<ul>
						<li>Create a new file in your text editor by going to <code>file &gt; new</code>.</li>
						<li>Save it in your site folder as <code>style.css</code>. Don't forget the extension!</li>
						<li>To tell your site where it can find your stylesheet, link to it in your <code>&lt;head&gt;</code>.</li>
					</ul>
					<code-block>
						&lt;head&gt; &lt;link rel='stylesheet' href='styles.css'&gt; &lt;/head&gt;
					</code-block>
				</step-block>
				<step-block header="Write some CSS">
					<p>It's the moment we've all been waiting for. Time to dress up your HTML and make something people actually want to look at. The enabler here is
						<glossary-term>CSS</glossary-term>, aka Cascading Style Sheets, the governing documents for the look and feel of your site. It's a good bit bigger and more complicated than HTML, and with great power comes great responsibility, young Peter. Design wisely.</p>
					<lesson-ref ref="write-some-css" image="https://learncms.knightlab.com/imagelib/uploads/banners/basic-website-banner.png" header="Write Some CSS" url="/lesson/write-some-css/">Wondering why your site&#8217;s looking so ugly? HTML just says what&#8217;s what and gives the page structure. CSS is where the real fun starts&#8211;it will fix things faster than Fix-it Felix.</lesson-ref>
				</step-block>
				<lesson-block header="Good web design practices">
					<h3>Because there's a big difference between writing up some code and actually
  designing a website.</h3>
					<p>CSS is just the language that we use to implement style. If you're left wondering how to <em>choose</em> those styles and make something that looks a little more recent than the web circa 1998, check out our series on Good Web Design Practices. It'll walk you through the basics of design.</p>
					<lesson-ref ref="good-web-design-practices" image="https://learncms.knightlab.com/imagelib/uploads/banners/basic-website-banner.png" header="Good Web Design Practices" url="/lesson/good-web-design-practices/">"What's the difference between a good website and a bad website?" You may be wondering. It's not just about how it looks (although that is a big part of it)&amp;#8212;it's also about how it functions. User interactivity is a huge component of web design, so it's time to start looking at ways to make your website reach its full potential. </lesson-ref>
				</lesson-block>
				<step-block header="Publishing your site for all to see">
					<p>Thus far, we've just been building the site on your machine--which nobody can access, with good reason. (Hello, embarrasing search history from that time you got obsessed with you know what.) So to get your site out to the rest of the world, you've got to get a copy of your files onto a server that others can access. This means securing a domain name (your URL) and hosting your files somewhere.</p>
					<lesson-ref ref="intro-web-hosting" image="https://learncms.knightlab.com/imagelib/uploads/banners/basic-website-banner.png" header="Intro to Web Hosting" url="/lesson/intro-web-hosting/">When your site is ready, you&#8217;ll upload your files to your hosting server using a File Transfer Protocol (FTP) client. (We like Cyberduck and FileZilla.) Make sure that your files appear on your server the same way that they do in the site folder on your computer, or else your site may not work properly.</lesson-ref>
					<info-block header="Did you know... you got served?">
						<p>A server is a special computer dedicated to holding and serving up web files. Every time you type a URL into your browser, it makes a request--several, actually--for your website's files. The server then sends them along and your browser (aka the client) assembles everything into the visual experience you know the web to be.</p>
					</info-block>
				</step-block>
				<lesson-block header="That's a wrap">
					<p>Now that your website is live, check it out! Click on all of the links to make sure they&#8217;re directing to the right places and that all the images are showing. If you have to fix something, change in on your computer, save, then re-upload the edited file onto your hosting server. Did we say good job yet? No? Good job!
					</p>
				</lesson-block>
			</div>
		</page-item>
	</page-manager>
	<glossary-manager json-url="/glossary.json"></glossary-manager>
</body>

</html>
